{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Archäologische Berichte  
                {{elif session.forced_language =='en': }}
                Archäologische Berichte
            {{pass}}
            </h3>


                {{if session.forced_language =='de': }}
<div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/series/archber_logo.jpg'),_width='230px')}}</p>
<br>
                <p><b>Herausgeber</b><br>
                Priv.-Doz. Dr. Frank Siegmund<br />
                Dr. Werner Schön<br />
                Diane Scherzler M.A.<br />
                Dr. Birgit Gehlen<br /><br />
                Internet: <a href="http://www.dguf.de/index.php?id=354" title="Redaktionswebsite">Redaktionswebsite</a></p>
                </div>

<p>Die „Archäologischen Berichte“ (Arch. Ber.) sind die Monografien der <a href="http://www.dguf.de/index.php" title="Homepage der DGUF">Deutschen Gesellschaft für Ur- und Frühgeschichte e.V. (DGUF)</a>. Sie erscheinen seit 1987 mit etwa einem Band pro Jahr. Ziel der DGUF bei der Gründung der Reihe war es, den Autoren eine Möglichkeit zu bieten, mit hoher Reichweite und wissenschaftsüblicher Qualitätssicherung preiswert und schnell publizieren zu können. Um dieses Ziel noch wirksamer erreichen zu können, erscheinen die Monografien seit Band 25 (2014) hybrid: in einer Druckausgabe und – in Kooperation mit der Universitätsbibliothek Heidelberg – zusätzlich online im Open Access. Wie die Zeitschrift der DGUF, die <a href="http://journals.ub.uni-heidelberg.de/index.php/arch-inf/index" title="Homepage der Archäologischen Informationen">„Archäologischen Informationen“</a> nehmen auch die Monografien seit Band 25 bei Bedarf ergänzende Materialien und Open Data auf.</p>
<p>In einigen Bänden der Reihe wurden Arbeiten publiziert, die in der DGUF selbst entstanden sind, wie etwa die zweibändige Gedenkschrift für Wolfgang Taute (Arch. Ber. 14, 2001) oder die Literaturempfehlungen des DGUF-Arbeitskreises "Archäologie in Schule und Bildung" (Arch. Ber. 21, 2006). Die überwiegende Mehrheit der Bände entsteht jedoch aus guten Examensarbeiten und Dissertationen, die wir hier – kostengünstig für Autoren wie Leser – zeitnah zum Druck bringen. Die Werke erscheinen mit weltweiter Reichweite, gedruckt und im Open Access, samt Verlag und ISBN-Nummer in einer etablierten Reihe: Ein erheblicher Mehrwert gegenüber einer Publikation in Eigenregie, für Autoren wie für Leser.</p>
<p>Die Bände 1 bis 24 der Reihe wurden im Offset-Druck hergestellt, ab Band 25 erfolgt der Druck der Bücher im Print-on-Demand-Verfahren. Die noch als gedrucktes Exemplar lieferbaren Bände sind einschließlich der Preise auf der Website der <a href="http://www.dguf.de/index.php?id=61" title="Verzeichnis der lieferbaren Bände">DGUF</a> ersichtlich und können bei der DGUF bestellt werden: verlag@dguf.de</p>
<div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="../catalog/series/archber">{{=T('Volumes')}}</a></p>

                            </li>
                              
                            

                        </ul>
                    </div>

                     {{elif session.forced_language =='en': }}
<div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/series/archber_logo.jpg'),_width='230px')}}</p>
<br>
                <p><b>Editors</b><br>
                Priv.-Doz. Dr. Frank Siegmund<br />
                Dr. Werner Schön<br />
                Diane Scherzler M.A.<br />
                Dr. Birgit Gehlen<br /><br />
                Internet: <a href="http://www.dguf.de/index.php?id=354" title="Redaktionswebsite">Redaktionswebsite</a></p>
                </div>

<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<div class="widget">
                        <ul class="tags">
             
                            <li>
                               <p><a href="../catalog/series/archber">{{=T('Volumes')}}</a></p>
                            </li>

                        </ul>
                    </div>

{{pass}}

        </div>
    </div>
</div>

