{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            {{if session.forced_language =='de': }}
                <h3>Archäologie und Geschichte</h3>
				
				<h4>Freiburger Forschungen zum ersten Jahrtausend in Südwestdeutschland</h4>
                {{elif session.forced_language =='en': }}
                <h3>Archäologie und Geschichte</h3>
				
				<h4>Freiburger Forschungen zum ersten Jahrtausend in Südwestdeutschland</h4>
            {{pass}}
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>Unter diesem Titel erscheinen seit 1986 Monographien und Sammelbände des Forschungsverbunds „Archäologie und Geschichte des ersten Jahrtausends in Südwestdeutschland“ an der Albert-Ludwigs-Universität Freiburg. Er wurde 1984 gegründet und umfasst heute die Fächer Urgeschichtliche Archäologie, Provinzialrömische Archäologie sowie Frühgeschichtliche Archäologie und Archäologie des Mittelalters, Mittelalterliche Geschichte und Landesgeschichte.</p>
            <p>Das Ziel des Forschungsverbunds ist es, mit interdisziplinärem Ansatz wesentliche Verhältnisse und Veränderungen im ersten nachchristlichen Jahrtausend zu erforschen, wobei von einem „langen“ Jahrtausend ausgegangen wird: es reicht von der vorrömischen Eisenzeit der Kelten über Römerzeit und Frühmittelalter bis zu den hochmittelalterlichen Stadtgründungen. Das Spektrum der Forschungsprojekte erstreckt sich von römischen Villen bis zu spätantiken Höhenstationen, von spätrömischen Grenzbefestigungen bis zu spätmittelalterlichen Burgen, von frühmittelalterlichen Sozialstrukturen bis zu hochmittelalterlichen Adelsgruppierungen, von gesellschaftlichen Identitäten bis zur Montanarchäologie.</p>
			<p>In den Bänden sind einerseits Monographien publiziert, bei denen es sich meist um herausragende Dissertationsschriften handelt. Andererseits liegen Sammelbände vor, die die Beiträge zahlreicher Tagungen bündeln. Außerdem gehört in diese Reihe das auf vier Bände angelegte Handbuch „Die Burgen im mittelalterlichen Breisgau“.</p>
			<p>Verlegt wird die Reihe im <a href="https://www.thorbecke.de/archaeologie-und-geschichte-c-310_138_247.html" title="Homepage Thorbecke-Verlag">Thorbecke-Verlag</a>. Alle bisher erschienenen Bände stehen online zum Download bereit, künftige Bände zunächst als gedrucktes Buch und werden mit einer Moving Wall von zwei Jahren hier im Internet frei zugänglich gemacht.</p>
			 

                    <div class="widget">
                        <ul class="tags">
                            <li>
                               <p><a href="{{=URL('catalog', 'series/archuge')}}">{{=T('Volumes')}}</a></p>
                            </li>
                        </ul>
                    </div>

		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><!--<p>{{=IMG(_src=URL('static','images/series/archber_logo.jpg'),_width='230px')}}</p>-->

                <p><b>Derzeitige Herausgeber</b><br>
				Prof. Dr. Sebastian Brather<br>
                Prof. Dr. Jürgen Dendorfer<br>
                Prof. Dr. Alexander Heising<br>
                Prof. Dr. Christoph Huth<br><br>
				Internet: <a href="https://www.fvag.uni-freiburg.de" title="Link zur Albert-Ludwig-Universität Freiburg">https://www.fvag.uni-freiburg.de</a>
				</p>
                <p><b>ISSN</b><br>
                    1436-2686 (Print) <br>
                    2751-0972  (Online)
                </p>                     
           </div>
        </div>   


                     {{elif session.forced_language =='en': }}
		<div class="col-lg-9">		
		    <p>Under the title „Archäologie und Geschichte. Freiburger Forschungen zum ersten Jahrtausend in Süddeutschland“ the research network „Archäologie und Geschichte des ersten Jahrtausends in Südwestdeutschland“  („Archaeology and history of the first millenium in southern Germany”) based at Albert-Ludwigs-University Freiburg has been publishing monographs and collected writings since 1986. Founded in 1984 it today comprises the subjects of prehistoric archeology, provincial Roman archeology as well protohistoric archeology and archeology of the middle ages, medieval history and regional history.</p>
            <p>The aim of the research network is to use an interdisciplinary approach in exploring fundamental conditions and changes within the first millennium AC, conjecturing a “long” millennium dating from the pre-Roman iron age of the Celts and the Roman era until the high medieval era of town foundations. The research projects ranges from studies on Roman villas, mountain-top stations of the late antiquity, from late Roman border fortifications to late medieval castles, from the social structures of the early middle ages to the nobility groups of the high middle ages, from social identities to archaeo-metallurgy.</p>
			<p>The volumes publish monographs, mainly exceptional dissertations as well as collected writings, compiling the papers of several conferences. The four volume handbook “Die Burgen im mittelalterlichen Breisgau“ (The castles in medieval Breisgau) is also part of this series.</p>
		    <p>The series is published with <a href="https://www.thorbecke.de/archaeologie-und-geschichte-c-310_138_247.html" title="Link to the Thorbecke-Verlag">Thorbecke-Verlag</a>, first in printed copies and then, with a moving wall of two years, free of charge online on this platform.</p>
			

                    <div class="widget">
                        <ul class="tags">
                            <li>
                               <p><a href="{{=URL('catalog', 'series/archuge')}}">{{=T('Volumes')}}</a></p>
                            </li>
                        </ul>
                    </div>

		</div>

		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><!--<p>{{=IMG(_src=URL('static','images/series/archber_logo.jpg'),_width='230px')}}</p>-->

                <p><b>Current editors</b><br>
				Prof. Dr. Sebastian Brather<br>
                Prof. Dr. Jürgen Dendorfer<br>
                Prof. Dr. Alexander Heising<br>
                Prof. Dr. Christoph Huth<br><br>
				Internet: <a href="https://www.fvag.uni-freiburg.de" title="Link to the Albert-Ludwig-University Freiburg">https://www.fvag.uni-freiburg.de</a>
				</p>
                <p><b>ISSN</b><br>
                    1436-2686 (Print) <br>
                    2751-0972  (Online)
                </p>                  
           </div>
        </div>  
{{pass}}

</div>


