{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Archäologische Quellen  
                {{elif session.forced_language =='en': }}
                Archäologische Quellen
            {{pass}}
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>Die Archäologischen Quellen (Arch. Quellen) sind die 2017 begründete Monografienreihe der <a href="http://www.dguf.de/index.php">Deutschen Gesellschaft für Ur- und Frühgeschichte e.V. (DGUF)</a>, die der Vorlage von “Quellen” dient, d. h. von Grabungsdokumentationen, Grabungsfunden und ähnlichem, ohne dass deren Publikation von tiefgehenden wissenschaftlichen Analysen begleitet sein muss. Die Quellen geben nur knappe Deutungen des Gefundenen, sie bieten das Rohmaterial für vertiefende wissenschaftliche Analysen, die dann in weiteren Publikationen erfolgen können. Die Archäologischen Quellen erscheinen in einer Druckausgabe und  online im Golden Open Access. In die Online-Ausgabe werden bei Bedarf auch Ergänzende Materialien, wie z. B. großformatige Grabungspläne, und Open Data aufgenommen.</p>
            <p>Ungezählte Grabungen wandern ohne eine weitere Bearbeitung ins Archiv, in der Hoffnung, dass irgendwann einmal z. B. ein Examenskandidat die Mühen der Aufarbeitung und Publikation übernimmt. Da es weitaus mehr Grabungen als Examenskandidaten gibt, verbleiben allzu viele Ausgrabungen ohne eine realistische Aussicht, zeitnah bearbeitet und veröffentlicht zu werden, im Archiv. Ein stetig wachsender Berg, bislang ohne eine Perspektive, in absehbarer Zeit abgetragen zu werden.</p>
            <p>Wenn wir uns vor Augen führen, wie viel Material über lange Jahre nicht in archäologische Forschung einfließt und diese vorantreiben kann, wird uns bewusst, wie unglücklich die beschriebene Situation ist. Die Endlagerung von Grabungen im Archiv ist sachlich ebenso korrekt wie für unterschiedlichste Interessengruppen völlig unbefriedigend. Wie soll man überdies der Politik, den Investoren und den Bürgerinnen und Bürgern verständlich machen, dass eine professionelle Archäologie zwingend erforderlich ist und auch finanziert werden muss, wenn doch gleichzeitig die Archive überquellen? Wie soll man vermitteln, dass archäologische Funde in Archiven und in Landesbesitz sein müssen, wenn sie über Jahrzehnte nicht einmal ausgewertet werden?</p>
            <p>Vor diesem Hintergrund ist diese Schriftenreihe entstanden. Wir publizieren mit den "Archäologischen Quellen" die Grabungsberichte in ihrem Ist-Zustand ohne langwierige wissenschaftliche Auswertung. Fachleuten wie auch interessierten Bürgern sind sie im Golden Open Access und mit der Standardlizenz CC BY leicht zugänglich, Anregungen für weitergehende Forschungen gehen von ihnen aus, die Archäologie legt umfassend öffentlich und nachprüfbar Rechenschaft ab über das, was sie alltäglich tut, und die Ausgräber gewinnen sichtbar die wohlverdiente Autorenschaft an ihren Produkten.</p>
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/archquell')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/series/archquell_logo.png'),_width='230px')}}</p>

                <p><b>Herausgeber</b><br>
                Frank Siegmund & Diane Scherzler<br />
                DGUF-Verlag<br />
                An der Lay 4<br />
                D - 54578 Kerpen-Loogh<br /><br />
                Tel. +49 (0) 6593 - 989 642<br />
                Fax +49 (0) 6593 - 989 643<br />
                verlag[at]dguf.de</p>
				<p><b>ISSN</b><br>
				 2566-557X (Print)<br />
				 2566-5588 (Online)
				 </p>
           </div>
        </div>   


                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    
<p>Archäologische Quellen (Arch. Quellen - eng. Archaeological Sources) is a monographic series established in 2017 by the DGUF to present "sources", i. e. excavation documentation, archaeological finds and similar, without their publication having to be accompanied by detailed scientific analyses. The sources merely give brief interpretations of the find, they provide the raw material for more in-depth scientific analyses which can then be made in further publications. Archäologische Quellen is published in a print edition and ‒ in cooperation with Heidelberg university library (Propylaeum portal) ‒ online in Golden Open Access. Supplementary materials such as large-format excavation maps and Open Data are included in the online edition, if required.
</p>            
<p>Countless archaeological finds make their way into the archives without any further processing, in the hope that at some time somebody, e. g. a postgraduate student, will make the effort required for scientific evaluation and publication. Since there are many more excavations than postgraduate students, too many archaeological finds remain in the archive without any realistic chance of being evaluated and published within a short period of time. A mountain of work which is getting higher and higher with no prospect as yet of being tackled in the foreseeable future.
</p>            
<h4>A completely unsatisfactory situation</h4>            
<p>If we consider how much material does not find its way into archaeological research for years and is thus unable to drive it forward, we realise how unfortunate the situation described actually is. Simply storing the fruits of excavations in an archive is actually just as correct as it is completely unsatisfactory for widely differing interested parties. How are we to also make the politicians, the investors and the public understand that a professional archaeology is absolutely imperative and must be financed, when at the same time the archives are overflowing? How are we to communicate the fact that archaeological finds must be in archives and in the possession of the federal state, when decades go by without them even being evaluated? It is against this background that this series of monographs has been established.
</p>            
<h4>Speed up research and promote a culture of openness</h4>            
<p>"Archäologische Quellen" allows us to publish excavation reports in their 'as-is' state without a time-consuming scientific evaluation. In Golden Open Access and with the standard CC BY licence, specialists as well as interested members of the public are afforded easy access to them, they stimulate further research, archaeology provides a comprehensive and verifiable public account of its day-to-day activities, and those undertaking the excavation work visibly obtain the well-deserved authorship of the works they produce.
</p>            
<h4>A non-commercial project with an international approach</h4>
<p>We offer all our colleagues the opportunity to publish their excavation reports in "Archäologische Quellen". This is tied neither to a DGUF membership nor a particular nationality. We are also open to manuscripts not written in German, the only requirement is an abstract in German or English; the communication language with the editors is German or English.
</p>
<p>"Archäologische Quellen" is a non-commercial project produced by the DGUF on a voluntary basis. The DGUF publisher receives a fixed, flat-rate fee per volume to cover the prime costs and in particular the costs for the deposit copies required for the libraries and for review copies; special costs incurred by the DGUF are negotiated individually, where necessary. No further fees are levied on the author.
</p>
<h4>If you are interested in publishing with us:</h4>
<p>For further information on editorial guidelines and typesetting specifications, for financial aspects and division of work etc. please contact Frank Siegmund, our editor-in-chief: editor[at]dguf.de</p>
            
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/archquell')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/series/archquell_logo.png'),_width='230px')}}</p>

                <p><b>Published by</b><br>
                Frank Siegmund & Diane Scherzler for the Deutsche Gesellschaft für Ur- und Frühgeschichte (German Society for Pre- and Protohistory; DGUF)<br />
                DGUF-Verlag<br />
                An der Lay 4<br />
                D - 54578 Kerpen-Loogh<br /><br />
                Tel. +49 (0) 6593 - 989 642<br />
                Fax +49 (0) 6593 - 989 643<br />
                verlag[at]dguf.de</p>
				<p><b>ISSN</b><br>
				 2566-557X (Print)<br />
				 2566-5588 (Online)<br />
         The series is published under CC BY licence.
				 </p>
           </div>
        </div>  
{{pass}}

</div>


