{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Ars Didactica
                {{elif session.forced_language =='en': }}
                Ars Didactica
            {{pass}}
            </h3>
			<h4> {{if session.forced_language =='de': }}
                Marburger Beiträge zu Studium und Didaktik der Alten Sprachen
                {{elif session.forced_language =='en': }}
                Marburger Beiträge zu Studium und Didaktik der Alten Sprachen
            {{pass}}
			</h4>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>Weiter Informationen folgen.</p>

                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/arsdidactica')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">
		<!--
           <div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/series/akt_logo.jpg'),_width='230px')}}</p>

                <p><b>Herausgeber</b><br>
                Nikolaus Dietrich,<br />
				Caterina Maderna, <br />
				Diamantis Panagiotopoulos
                <!--Internet: <a href="http://www.dguf.de/index.php?id=354" title="Redaktionswebsite">Redaktionswebsite</a></p>
				<p><b>ISSN</b><br>
				 2566-5340 (Print)<br />
				 2566-5359 (Online)
				 </p>
           </div>-->
        </div>   


                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p>More information coming soon.</p>
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/arsdidactica')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">
        </div>  
{{pass}}

</div>


