{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Ars Didactica
                {{elif session.forced_language =='en': }}
                Ars Didactica
            {{pass}}
            </h3>
			<h4> {{if session.forced_language =='de': }}
                Alte Sprachen lehren und lernen
                {{elif session.forced_language =='en': }}
                Alte Sprachen lehren und lernen
            {{pass}}
			</h4>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p><i>Ars Didactica. Alte Sprachen lehren und lernen</i> bietet ein Forum für Überlegungen und Vorschläge aus Theorie und Praxis, wie der Unterricht in den Alten Sprachen an Schule und Universität die spannenden Inhalte der Fächer auf neuen Wegen vermitteln kann. Dazu werden in der Reihe Monographien, Sammelbände sowie Lehr- und Arbeitsbücher veröffentlicht.</p>
            <p>Die ersten fünf Bände der "Ars Didactica“ erschienen mit dem Untertitel „<a href="{{=URL('catalog', 'series/ars-didactica/info')}}">Marburger Beiträge zu Studium und Didaktik der Alten Sprachen</a>".</p>
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/arsdidactica')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">

           <div id="infoBoxRechts">

                <p><b>Herausgeber</b><br>
                Hans-Joachim Glücklich<br />
				Ivo Gottwald<br />
				Rainer Nickel<br />
				Felix M. Prokoph
                <!--Internet: <a href="http://www.dguf.de/index.php?id=354" title="Redaktionswebsite">Redaktionswebsite</a></p>
				<p><b>ISSN</b><br>
				 2566-5340 (Print)<br />
				 2566-5359 (Online)
				 </p>
           </div>-->
        </div>   


                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p><i>Ars Didactica. Teaching and Learning Classical Languages</i> is a forum for concepts and suggestions for teaching and learning Latin and Greek in schools and universities. The aim is to make learning of Latin and Greek and the studies of their often breathtaking and provoking literature attractive. The collection contains books about didactics and methods of effective teaching and good practice in classics, textbooks, grammars, workbooks and text editions.</p>
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/arsdidactica')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts">

                <p><b>Editors</b><br>
                Hans-Joachim Glücklich<br />
				Ivo Gottwald<br />
				Rainer Nickel<br />
				Felix M. Prokoph
                <!--Internet: <a href="http://www.dguf.de/index.php?id=354" title="Redaktionswebsite">Redaktionswebsite</a></p>
				<p><b>ISSN</b><br>
				 2566-5340 (Print)<br />
				 2566-5359 (Online)
				 </p>
           </div>-->
        </div>  
        </div>  
{{pass}}

</div>


