{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3> 
                Bodenaltertümer Westfalens
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>„Bodenaltertümer Westfalens“ (BAW) ist die Reihe der <a href="https://www.lwl-archaeologie.de/de/" title="Link zur Homepage">LWL-Archäologie für Westfalen</a> mit der längsten Tradition: Der erste Band wurde bereits 1929 veröffentlicht. Die ersten Ausgaben erschienen in gemeinsamer Herausgeberschaft mit der Altertumskommission für Westfalen in der Zeitschrift „Westfalen. Hefte für Geschichte, Kunst und Volkskunde“. Seit Band 6 aus dem Jahr 1943 ist BAW eine eigenständige Reihe. </p>
			<p>In Form von Monografien oder Aufsatzsammlungen werden hier Forschungsergebnisse aus der westfälischen Bodendenkmalpflege publiziert – zu einzelnen Ausgrabungen ebenso wie zu übergreifenden Fragestellungen. Die zeitliche Spanne reicht dabei vom Paläolithikum bis ins Frühmittelalter. Autoren sind die Wissenschaftler unseres Hauses, der westfälischen Stadtarchäologien, Universitäten und Grabungsfirmen.</p>
			<p>Die Reihe erscheint unregelmäßig und wird als Printversion in Kommission vom Verlag <a href="https://www.wbg-wissenverbindet.de/11178/bodenaltertuemer-westfalens.-berichte-der-lwl-archaeologie-fuer-westfalen?number=476" title="Link zur Printausgabe">Philipp von Zabern</a> (WBG) vertrieben. Restbestände von einigen Bänden sind online erhältlich über den Verlag <a href="http://www.archaeologie-und-buecher.de/buchauswahl.asp?Buchgruppe=3&KID=594875514103909195202415013122017&Reihe=7" title="Link zur Verlagsseite">Beier & Beran</a>.</p>
			<p>Zukünftig sollen die Bände mit Erscheinen der Printausgabe auch hier im Open Access zur Verfügung gestellt werden. Parallel werden die älteren Bände digitalisiert und nach Einholung der Nutzungsrechte ebenfalls nach und nach online bereitgestellt.</p>
                <!--    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/baw')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>-->
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/series/baw_logo.png'),_width='230px')}}</p>

                <p><b>Herausgeber</b><br>
				LWL-Archäologie für Westfalen<br />
				An den Speichern 7<br />
				48157 Münster</p>
                <p>
				E-Mail: lwl-archaeologie@lwl.org<br />
				Internet: <a href="https://www.lwl-archaeologie.de/de/" title="Link zur Homepage">www.lwl-archaeologie.de</a>
				</p>

           </div>
        </div>   


                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p>„Bodenaltertümer Westfalens“ (BAW) is the <a href="https://www.lwl-archaeologie.de/de/" title="Link to the Homepage">LWL-Archäologie für Westfalen's</a> longest running publication series: its first volume was published in 1929. The first editions were published in close collaboration with the Altertumskommission für Westfalen in a journal called „Westfalen. Hefte für Geschichte, Kunst und Volkskunde“. Starting with volume 6 BAW has been an independent series since 1943. </p>
			<p>The research results of the Westphalian Departement of Archaeology – dealing with single excavations as well as general questions – are published as monographs or collections of essays, covering the periods from the Paleolithic until the Early Middle Ages. The authors are the archaeologists of the LWL, Westphalian urban archeology institutes, universities and excavation companies.</p>
			<p>The series is published irregularly and the print version is sold on a commission basis by the <a href="https://www.wbg-wissenverbindet.de/11178/bodenaltertuemer-westfalens.-berichte-der-lwl-archaeologie-fuer-westfalen?number=476" title="Link to the print edition">Philipp von Zabern publishing house</a> (WBG). Remaining stock of several volumes is available online via <a href="http://www.archaeologie-und-buecher.de/buchauswahl.asp?Buchgruppe=3&KID=594875514103909195202415013122017&Reihe=7" title="Link to the press homepage">Beier & Beran</a>.
            <p>Future volumes will be published in print and will be made available on this platform in Open Access simultaneously. In the meanwhile older volumes will be digitized and – once the rights of use are granted – gradually released online.</p>             
			 <!--<div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/baw')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>-->
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/series/baw_logo.png'),_width='230px')}}</p>

                <p><b>Editors</b><br>
				LWL-Archäologie für Westfalen<br />
				An den Speichern 7<br />
				48157 Münster</p>
                <p>
				E-Mail: lwl-archaeologie@lwl.org<br />
				Internet: <a href="https://www.lwl-archaeologie.de/de/" title="Link zur Homepage">www.lwl-archaeologie.de</a>
				</p>
           </div>
        </div>  
{{pass}}

</div>


