{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Byzanz zwischen Orient und Okzident
                {{elif session.forced_language =='en': }}
                Byzanz zwischen Orient und Okzident
            {{pass}}
            </h3>


                {{if session.forced_language =='de': }}


                <p>Die Archäologischen Berichte (Arch. Ber.) sind die Monografien der DGUF. Sie erscheinen seit 1987 mit etwa einem Band pro Jahr. Ziel der DGUF bei der Gründung der Reihe war es, unseren Autoren eine Möglichkeit zu bieten, mit hoher Reichweite und wissenschaftsüblicher Qualitätssicherung preiswert und schnell publizieren zu können. Um dieses Ziel noch wirksamer erreichen zu können, erscheinen die Monografien seit Band 25 (2015) hybrid: in einer Druckausgabe und – in Kooperation mit der Universitätsbibliothek Heidelberg – zusätzlich online im Open Access. Wie unsere Zeitschrift Archäologische Informationen nehmen auch die Monografien seit Band 25 bei Bedarf ergänzende Materialien und Open Data auf.</p>
                 <p>In einigen Bänden der Reihe wurden Arbeiten publiziert, die in der DGUF selbst entstanden sind, wie etwa die zweibändige Gedenkschrift für Wolfgang Taute (Arch. Ber. 14, 2001) oder die Literaturempfehlungen des DGUF-Arbeitskreises "Archäologie in Schule und Bildung" (Arch. Ber. 21, 2006). Die überwiegende Mehrheit der Bände entsteht jedoch aus guten Examensarbeiten und Dissertationen, die wir hier – kostengünstig für Autoren wie Leser – zeitnah zum Druck bringen. Die Werke erscheinen mit weltweiter Reichweite, gedruckt und im Open Access, samt Verlag und ISBN-Nummer in einer etablierten Reihe: Ein erheblicher Mehrwert gegenüber einer Publikation in Eigenregie, für Autoren wie für Leser. Autoren, die an einer Aufnahme ihres Manuskripts in die Reihe interessiert sind, wenden sich bitte an die Redaktion: editor@dguf.de</p>
                <p>Die Bände 1 bis 24 der Reihe wurden im Offset-Druck hergestellt, ab Band 25 erfolgt der Druck der Bücher im Print-on-Demand-Verfahren. Die noch als gedrucktes Exemplar lieferbaren Bände sind einschließlich der Preise auf der Website der DGUF <a href="http://www.dguf.de/index.php?id=61">ersichtlich</a> und können bei der DGUF bestellt werden: verlag@dguf.de</p>
                <p>Alle inzwischen als Druckexemplar vergriffenen Bände sind online im Open Access verfügbar. Auch die noch lieferbaren Bände werden sukzessive in den Open Access gestellt. Seit Band 25 (2015) wird die Reihe hybrid publiziert: zugleich online im Open Access und als gedrucktes Buch.</p>
<p><a href="http://heiup.uni-heidelberg.de/UBHD_OMPPropylaeum/catalog/series/arch-ber">{{=T('More information')}}</a></p>

                     {{elif session.forced_language =='en': }}
                <p>Die Archäologischen Berichte (Arch. Ber.) sind die Monografien der DGUF. Sie erscheinen seit 1987 mit etwa einem Band pro Jahr. Ziel der DGUF bei der Gründung der Reihe war es, unseren Autoren eine Möglichkeit zu bieten, mit hoher Reichweite und wissenschaftsüblicher Qualitätssicherung preiswert und schnell publizieren zu können. Um dieses Ziel noch wirksamer erreichen zu können, erscheinen die Monografien seit Band 25 (2015) hybrid: in einer Druckausgabe und – in Kooperation mit der Universitätsbibliothek Heidelberg – zusätzlich online im Open Access. Wie unsere Zeitschrift Archäologische Informationen nehmen auch die Monografien seit Band 25 bei Bedarf ergänzende Materialien und Open Data auf.</p>
                 <p>In einigen Bänden der Reihe wurden Arbeiten publiziert, die in der DGUF selbst entstanden sind, wie etwa die zweibändige Gedenkschrift für Wolfgang Taute (Arch. Ber. 14, 2001) oder die Literaturempfehlungen des DGUF-Arbeitskreises "Archäologie in Schule und Bildung" (Arch. Ber. 21, 2006). Die überwiegende Mehrheit der Bände entsteht jedoch aus guten Examensarbeiten und Dissertationen, die wir hier – kostengünstig für Autoren wie Leser – zeitnah zum Druck bringen. Die Werke erscheinen mit weltweiter Reichweite, gedruckt und im Open Access, samt Verlag und ISBN-Nummer in einer etablierten Reihe: Ein erheblicher Mehrwert gegenüber einer Publikation in Eigenregie, für Autoren wie für Leser. Autoren, die an einer Aufnahme ihres Manuskripts in die Reihe interessiert sind, wenden sich bitte an die Redaktion: editor@dguf.de</p>
                <p>Die Bände 1 bis 24 der Reihe wurden im Offset-Druck hergestellt, ab Band 25 erfolgt der Druck der Bücher im Print-on-Demand-Verfahren. Die noch als gedrucktes Exemplar lieferbaren Bände sind einschließlich der Preise auf der Website der DGUF <a href="http://www.dguf.de/index.php?id=61">ersichtlich</a> und können bei der DGUF bestellt werden: verlag@dguf.de</p>
                <p>Alle inzwischen als Druckexemplar vergriffenen Bände sind online im Open Access verfügbar. Auch die noch lieferbaren Bände werden sukzessive in den Open Access gestellt. Seit Band 25 (2015) wird die Reihe hybrid publiziert: zugleich online im Open Access und als gedrucktes Buch.</p>
<p><a href="http://heiup.uni-heidelberg.de/UBHD_OMPPropylaeum/catalog/series/arch-ber">{{=T('More information')}}</a></p>
{{pass}}

        </div>
    </div>
</div>

