{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Conference of Cultural Heritage and New Technologies
                {{elif session.forced_language =='en': }}
                Conference of Cultural Heritage and New Technologies
            {{pass}}
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>The International Conference on Cultural Heritage and New Technologies is an annual conference taking place annually in Vienna, Austria, since 1996. 
The conference brings together professionals and scholars from the diverse fields of cultural heritage, including archaeology, building history, art history, conservation, and museum educational services amongst others, who are interested in the application of technology to facilitate and enhance the research, conservation, valorisation and dissemination of cultural heritage in all its forms. The contributions come from scholars and academics, public and commercial cultural heritage professionals, developers and engineers and othter stakeholders in cultural heritage. The conference is a major plattform for the exchange of ideas and innovations in the field and also for the critical discussion of the impact, consequences and opportunities that arise with the application of technology in the cultural heritage field. The participants of the conference come from all over the world, with a majority of them coming from Europe. 
</p>
			<p>The conference is organized in Sessions where contributions to specific topics are discussed by specialists and those interested. The program is supplemented with Poster and App-presentations. Abstracts that have been accepted and presented at the conference can then be submitted as paper for the proceedings and will be published after going through the peer-review-process. The authors who decide not to hand in a full paper and also authors of the posters and apps can publish their contributions as short papers, which will be reviewed by the editorial team only. </p>
			<p>Besides the sessions, currently disputed and emerging topics of the field are being discussed in the form of round table discussions. A summary or the single contributions the round tables are published as short papers in the proceedings.</p>
			<p>The CHNT Proccedings are being published since 2009. Starting with the issue 2019, the proceedings are published as propylaeum ebook series. The previous proceedings can be found on the <a href="http://www.chnt.at" title="To the Homepage">CHNT homepage (Proceedings)</a>.</p>
<!-- class="widget">
                <ul class="tags">
                   <li>
                      <p><a href="{{=URL('catalog', 'series/aesl')}}">{{=T('Volumes')}}</a></p>
                   </li>
                </ul>
             </div>
		</div>
	-->	
	    </div>
		<div class="col-lg-3">
           <div id="infoBoxRechts"><!--<p>{{=IMG(_src=URL('static','images/series/akt_logo.jpg'),_width='230px')}}</p>-->
                <p><b>Editorial Team</b><br>
                Wolfgang Börner<br />
				Hendrik Rohland<br />
				Christina Kral-Börner<br>
				E-Mail: <a href="mailto:info@chnt.at">info@chnt.at</a></p>
				<p><b>ISSN</b><br>
				 2510-8182 (Online)
				 </p>
           </div>
        </div>   


                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p>The International Conference on Cultural Heritage and New Technologies is an annual conference taking place annually in Vienna, Austria, since 1996. 
The conference brings together professionals and scholars from the diverse fields of cultural heritage, including archaeology, building history, art history, conservation, and museum educational services amongst others, who are interested in the application of technology to facilitate and enhance the research, conservation, valorisation and dissemination of cultural heritage in all its forms. The contributions come from scholars and academics, public and commercial cultural heritage professionals, developers and engineers and othter stakeholders in cultural heritage. The conference is a major plattform for the exchange of ideas and innovations in the field and also for the critical discussion of the impact, consequences and opportunities that arise with the application of technology in the cultural heritage field. The participants of the conference come from all over the world, with a majority of them coming from Europe. 
</p>
			<p>The conference is organized in Sessions where contributions to specific topics are discussed by specialists and those interested. The program is supplemented with Poster and App-presentations. Abstracts that have been accepted and presented at the conference can then be submitted as paper for the proceedings and will be published after going through the peer-review-process. The authors who decide not to hand in a full paper and also authors of the posters and apps can publish their contributions as short papers, which will be reviewed by the editorial team only. </p>
			<p>Besides the sessions, currently disputed and emerging topics of the field are being discussed in the form of round table discussions. A summary or the single contributions the round tables are published as short papers in the proceedings.</p>
			<p>The CHNT Proccedings are being published since 2009. Starting with the issue 2019, the proceedings are published as propylaeum ebook series. The previous proceedings can be found on the <a href="http://www.chnt.at" title="To the Homepage">CHNT homepage (Proceedings)</a>.</p>
			<!--
                   <div class="widget">
                        <ul class="tags">
                            <li>
                               <p><a href="{{=URL('catalog', 'series/aesl')}}">{{=T('Volumes')}}</a></p>
                            </li>
                        </ul>
                    </div>
					-->
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><!--<p>{{=IMG(_src=URL('static','images/series/akt_logo.jpg'),_width='230px')}}</p>-->
                <p><b>Editorial Team</b><br>
                Wolfgang Börner<br />
				Hendrik Rohland<br />
				Christina Kral-Börner<br>
				E-Mail: <a href="mailto:info@chnt.at">info@chnt.at</a></p>
				<p><b>ISSN</b><br>
				 2510-8182 (Online)
				 </p>
           </div>
        </div>  
{{pass}}

</div>


