{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Corpus der minoischen und mykenischen Siegel  
                {{elif session.forced_language =='en': }}
                Corpus der minoischen und mykenischen Siegel
            {{pass}}
            </h3>
		</div>	


                {{if session.forced_language =='de': }}
		<div class="col-lg-9">
		        <p>{{=IMG(_src=URL('static','images/series/cms_baende.jpg'),_width='300px',_style='float:right',_title='Die Editionen des Corpus der Minoischen und Mykenischen Siegel')}}Die Schriftenreihe "Corpus der minoischen und mykenischen Siegel (CMS)" besteht aus aktuell 13 z.T. mehrteiligen Bänden (CMS I-XIII) sowie 10 Beiheften, in denen insgesamt mehr als 9.000 minoische und mykenische Siegel bzw. Siegelabdrücke in <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/cmsseries/documentation.html" title="Dokumentation">standardisierter Form</a> publiziert werden.</p>
                <p>In den ersten 4 Bänden (CMS I-V inkl. Suppl.) werden die Bestände griechischer Museen und Sammlungen. (u.a. Athen, Nationalmuseum; Iraklion, Archäologisches Museum) veröffentlicht, die Bände VI-XI (inkl. Suppl) enthalten die europäischer Sammlungen (u.a.
London, British Museum; Oxford. The Ashmolean Museum). In den Bänden XII-XIII werden Siegel und Siegelabdrücke in nordamerikanischen Sammlungen publiziert.
Die 10 Beihefte enthalten die Ergebnisse internationaler Tagung, die vom CMS organisiert wurden, oder Studien zu Einzelthemen (u.a. talismanischen Siegel).</p>
                <p>Die seit 1964 in gedruckter Form erschienenen Bände werden nun in Kooperation mit den Verantwortlichen des <a href="{{=URL('partner', 'index/cms')}}" title="Informationen über CMS">CMS</a> nach und nach über <b>Propylaeum-eBooks</b> im Open Access online bereitgestellt.</p>
                <p><strong>CMS Beiheft 10</strong> (<a href="https://books.ub.uni-heidelberg.de/propylaeum/catalog/book/372">Karnava, Artemis. 2018. <i>Seals, Sealings and Seal Impressions from Akrotiri in Thera</i></a>) ist nun der erste Band, der in hybrider Form (Print/online) von CMS Heidelberg und Propylaeum Publishing erscheint.</p>

                <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/cms')}}">{{=T('Volumes')}}</a></p>

                            </li>

                        </ul>
                 </div>
        </div>	
		
		<div class="col-lg-3">
            <div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/partner/cms_logo.png'),_width='145px')}}</p>
                <p><b>Kontakt</b><br>
                Institut für Klassische Archäologie<br />
                Marstallhof 4<br />
                D-69117 Heidelberg<br /><br />
 
                Prof. Dr. Diamantis Panagiotopoulos<br />
                Tel.: +49 6221 54 2511<br />
                E-Mail: diamantis.panagiotopoulos@zaw.uni-heidelberg.de<br /><br />
               
                Bestellung der Bände als <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/cmsseries/volumessale.html" title="Printversion">Printversion</a>:
cms@zaw.uni-heidelberg.de<br /><br />
               
                
                Die Bildrechte liegen beim CMS. Für Veröffentlichungsgenehmigungen wenden Sie sich bitte cms@zaw.uni-heidelberg.de.</p>
            </div>
		</div>		
                

                     {{elif session.forced_language =='en': }}
					 
		<div class="col-lg-9">
		        <p>{{=IMG(_src=URL('static','images/series/cms_baende.jpg'),_width='300px',_style='float:right',_title='The editions of Corpus der Minoischen und Mykenischen Siegel')}}The “Corpus der minoischen und mykenischen Siegel (CMS)”-series currently comprises 13 catalogues and 10 supplementary volumes (CMS Beihefte), presenting more than 9.000 seals or ancient seal impressions in a <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/cmsseries/documentation.html" title="Dokumentation">standardized format</a>.</p>
                <p>The material in the series is organized according to where it is kept. Volumes CMS I-V are devoted to items kept in Greek collections (e.g. the National Museum of Athens; Heraklion Archeological Museum), CMS VI-XI (incl. supplements) to that of other European collections (e.g. British Museum London; The Ashmolean Museum Oxford), and CMS XII- XIII to North American collections. The ten supplementary volumes (Beihefte) report proceedings of international conferences organized by the CMS, or studies dedicated to individual topics such as talisman seals etc.</p>
                <p>The volumes, first published in printed versions from 1964 onwards, will gradually be made available online in Open Access by <b>Propylaeum-eBooks</b> in collaboration with the persons responsible for <a href="{{=URL('partner', 'index/cms')}}" title="Informationen about CMS">CMS</a>.
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                               <p><a href="{{=URL('catalog', 'series/cms')}}">{{=T('Volumes')}}</a></p>
                            </li>

                        </ul>
                    </div>
        </div>	
		
		<div class="col-lg-3">
            <div id="infoBoxRechts"><p><p>{{=IMG(_src=URL('static','images/partner/cms_logo.png'),_width='145px')}}</p>
<br>
                <p><b>Contact</b><br>
                Institut für Klassische Archäologie<br />
                Marstallhof 4<br />
                D-69117 Heidelberg<br /><br />

                Prof. Dr. Diamantis Panagiotopoulos<br />
                Tel.: +49 6221 54 2511<br />
                E-Mail: diamantis.panagiotopoulos@zaw.uni-heidelberg.de<br /><br />

                Order the printed versions of the volumes <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/cmsseries/volumessale.html" title="Printversion">here</a>:
cms@zaw.uni-heidelberg.de<br /><br />

                Publication rights for images published in the CMS series are reserved by the CMS. For permission to use images for publication, contact us at cms@zaw.uni-heidelberg.de.</p>
            </div>
		</div>						 
					              
{{pass}}

        </div>
    </div>


