{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Daidalos 
                {{elif session.forced_language =='en': }}
                Daidalos 
            {{pass}}
            </h3>


                {{if session.forced_language =='de': }}
                <div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/series/daidalos_logo.png'),_width='230px')}}</p>
                <br>
                <p><b>Kontakt</b><br>
                Prof. Dr. Diamantis Panagiotopoulos<br>
                Institut für Klassische Archäologie<br>
                Marstallhof 4<br>
                69117 Heidelberg<br><br>
                Tel.: +49-6221-542511<br>
                E-Mail: diamantis.panagiotopoulos@zaw.uni-heidelberg.de<br>
                </div>

<p>Daidalos - Heidelberger Abschlussarbeiten für Klassische Archäologie "Daidalos"  ist eine Schriftenreihe für überdurchschnittlich gute Abschlussarbeiten des <a href="http://www.klassische-archaeologie.uni-hd.de/" title="Institut für Klassische Archäologie">Instituts für Klassische Archäologie</a> der Universität Heidelberg.</p>
<div class="widget">
                        <ul class="tags">

                            <li>

                               <p><a href="../catalog/series/daidalos">{{=T('Volumes')}}</a></p>

                            </li>



                        </ul>
                    </div>


                     {{elif session.forced_language =='en': }}
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<div class="widget">
                        <ul class="tags">

                            <li>

                               <p><a href="../catalog/series/daidalos">{{=T('Volumes')}}</a></p>

                            </li>



                        </ul>
                    </div>

{{pass}}

        </div>
    </div>
</div>

