{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Daidalos – Heidelberger Abschlussarbeiten für Klassische Archäologie</h3>
        </div>

                {{if session.forced_language =='de': }}
		<div class="col-lg-9">		
		        <p>Daidalos ist eine Schriftenreihe für überdurchschnittlich gute Abschlussarbeiten des <a href="http://www.klassische-archaeologie.uni-hd.de/" title="Institut für Klassische Archäologie">Instituts für Klassische Archäologie</a> der Universität Heidelberg.</p>
                    <div class="widget">
                        <ul class="tags">

                            <li>

                               <p><a href="{{=URL('catalog', 'series/daidalos')}}">{{=T('Volumes')}}</a></p>

                            </li>

                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">	
                <div id="infoBoxRechts"<p>{{=IMG(_src=URL('static','images/series/daidalos_logo.png'),_width='230px')}}</p>
                <br>
                <p><b>Kontakt</b><br>
                Prof. Dr. Diamantis Panagiotopoulos<br>
                Institut für Klassische Archäologie<br>
                Marstallhof 4<br>
                D-69117 Heidelberg<br><br>
                Tel.: +49 6221 54 2511<br>
                E-Mail: diamantis.panagiotopoulos@<br />zaw.uni-heidelberg.de<br>
                <p><b>ISSN</b><br>2567-384X (Online)</p>
                </div>
        </div>



                     {{elif session.forced_language =='en': }}
		<div class="col-lg-9">		
		        <p>Daidalos - Heidelberger Abschlussarbeiten für Klassische Archäologie "Daidalos"  ist eine Schriftenreihe für überdurchschnittlich gute Abschlussarbeiten des <a href="http://www.klassische-archaeologie.uni-hd.de/" title="Institut für Klassische Archäologie">Instituts für Klassische Archäologie</a> der Universität Heidelberg.</p>
                    <div class="widget">
                        <ul class="tags">

                            <li>

                               <p><a href="{{=URL('catalog', 'series/daidalos')}}">{{=T('Volumes')}}</a></p>

                            </li>

                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">	
                <div id="infoBoxRechts"<p>{{=IMG(_src=URL('static','images/series/daidalos_logo.png'),_width='230px')}}</p>
                <br>
                <p><b>Contakt</b><br>
                Prof. Dr. Diamantis Panagiotopoulos<br>
                Institut für Klassische Archäologie<br>
                Marstallhof 4<br>
                D-69117 Heidelberg<br><br>
                Tel.: +49 6221 54 2511<br>
                E-Mail: diamantis.panagiotopoulos@<br />zaw.uni-heidelberg.de<br>
                <p><b>ISSN</b><br>2567-384X (Online)</p>
                </div>
        </div>
{{pass}}

        </div>
    </div>


