{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Digital Classics Books  
                {{elif session.forced_language =='en': }}
                Digital Classics Books
            {{pass}}
            </h3>
		</div>	
    
       <div class="col-lg-3">
                <article>
                    <div class="post-image">
		 	                {{=IMG(_src=URL('static','files/presses/3/monographs/257/simple/cover.jpg'),_width='300px')}}
                  </div>
                 </article>
          </div> 
		
		
       {{if session.forced_language =='de': }}

		<div class="col-lg-6">
		    <p>Die Reihe <b>Digital Classics Books</b> wird als Monographienreihe im Open Access erscheinen und soll sowohl für Qualifikationsschriften offenstehen, die im Kontext von Digital Humanities-Projekten entstehen sowie für einzelne umfangreichere Beiträge bzw. mehrere, inhaltlich zusammenhängende Aufsätze, die als Sammelband erscheinen können.</p>
            <p><b>Digital Classics Books</b> soll eine Reihe werden, die Arbeiten aus den Altertumswissenschaften und angrenzenden Gebieten in Verbindung mit der Anwendung oder Entwicklung von Methoden aus den Digital Humanities veröffentlicht. Die eBooks werden für die Nutzer frei zum Download bereitgestellt und die weitergehenden Möglichkeiten des ePublishing sollen mit dieser Publikationsform ebenfalls realisiert werden. Die Reihe wird daher sowohl die Integration von Forschungsdaten direkt im Buch als auch online in einem Datenrepositorium ermöglichen. So sollen Leser nicht nur exemplarische Ergebnisse im Anhang, sondern die exportierten und aufbereiteten Gesamtergebnisse in Form von Tabellen im Datenrepositorium zu ihrer Verfügung haben.</p>
            <p>Elektronische und gedruckte Publikationen sollen sich in der Reihe ergänzen, da gleichzeitig Print on Demand angeboten wird: Die Publikation der Werke erfolgt daher parallel in mehreren Versionen - sowohl in kostenfreier, digitaler Form (als PDF- und HTML-Datei) wie auch als gedrucktes Buch (Hard- oder Softcover), das im Sortiments- und im Online-Buchhandel kostengünstig erhältlich sein wird. Wir möchten damit für Autorinnen und Autoren zusätzlich zu unserem eJournal <b><a href="http://journals.ub.uni-heidelberg.de/index.php/dco/index" title="Link zur Zeitschrift">Digital Classics Online</a></b> einen weiteren interessanten Publikationsort anbieten, der auch den Bedürfnissen der traditionellen Buchwissenschaften nach Verlagspublikation als gedruckter Monographie nachkommt und für Autoren entsprechend unseren Vorstellungen von Open Access ohne Gebühren zur Verfügung gestellt wird.</p>
        
        <div class="widget">
          <ul class="tags"> 
            <li>
            <p>
              <a href="{{=URL('catalog', 'series/dcb')}}">{{=T('Volumes')}}</a>
            </p>
            </li>
          </ul>
        </div>		
		
		<hr>

		<h4>Erscheinen 2018</h4>
        <div class="row series-preview-row">
            <div class="col-lg-2">{{=IMG(_src=URL('static','images/catalog/preview.png'),_width='80px', _class='bildrahmen')}}</div>
            <div class="col-lg-9">
                <b>Corina Willkommen</b><br>                 
                <b>Digital Classics in der Praxis. Searching with eAQUA: Introduction and Exercises</b><br>
				<i>Digital Classics Books, Band 2</i><br><br>
				Erscheint Ende 2018
            </div>
        </div>  
		<div class="row series-preview-row">
            <div class="col-lg-2">{{=IMG(_src=URL('static','images/catalog/preview.png'),_width='80px', _class='bildrahmen')}}</div>
            <div class="col-lg-9">
                <b>Charlotte Schubert / Kurt Sier (Hrsg.)</b><br>                 
                <b>Platon digital. Neue Wege der Rezeptionsforschung am Beispiel der digitalen Paraphrasensuche</b><br>
				<i>Digital Classics Books, Band 3</i><br><br>
				Erscheint Ende 2018
            </div>
        </div>  
    </div>
		
		<div class="col-lg-3">
              <div id="infoBoxRechts">
                <p>{{=IMG(_src=URL('static','images/series/dcb_logo.png'),_width='230px')}}</p>

                <p><b>Herausgeber</b><br>                
                Dr. Roxana Kath<br />  
                Dr. Michaela Rücker<br />
                Prof. Dr. Reinhold Scholl<br /> 
                Prof. Dr. Charlotte Schubert<br />
                </p>
                <p>
                <b>Kontakt</b><br />
                Prof. Dr. Charlotte Schubert<br />

                Lehrstuhl für Alte Geschichte<br />
                Historisches Seminar<br />
                Universität Leipzig<br />
                Beethovenstr. 15<br />
                D-04107 Leipzig<br />
                E-Mail: schubert@rz.uni-leipzig.de<br />
                Internet: <a href="http://www.gko.uni-leipzig.de/historisches-seminar/seminar/alte-geschichte/professur.html" title="Homepage Universität Leipzig, Prof. Charlotte Schubert">Homepage</a>
                </p>
				        <p><b>ISSN</b><br>
				        2566-7890 (Print)
				        </p>
              </div>
		</div>	  

                     {{elif session.forced_language =='en': }}
		<div class="col-lg-6">
		    <p><b>Digital Classics Books</b> is a series of Open Access monographs which is open for contributions such as documents written as part of an academic qualification, produced in the context of a Digital Humanities project. Also eligible are more comprehensive individual works, e.g. collected volumes containing several contributions based around a common subject or theme.</p>
            <p><b>Digital Classics Books</b>  publishes works on Classical Studies and related areas that apply or develop methods from the Digital Humanities.E-books are freely available for download by users. Futher reaching possibilities of electronic publishing can be realised with this form of publication, as this series allows research data to be integrated directly into the book or placed within a data repository. This provides readers not only with limited results in appendices, but with access to exported and edited versions of the complete results of research in the form of tables in the data repository.</p>
            <p>This series allows electronic and printed publications to complement each other, as all titles are also offered as print-on-demand. Published works therefore appear simultaneously in various versions: as free digital copies (PDF or HTML versions), or as a printed book (hardback or paperback), available at a reasonable price from bookshops or online suppliers. The intention is to offer authors an interesting place to publish in addition to our e-journal <b><a href="http://journals.ub.uni-heidelberg.de/index.php/dco/index" title="Journal Digital Classics Online">Digital Classics Online</a></b> which combines the requirement of the traditionally book-oriented disciplines for printed books from a publisher, with publication in a no-cost Open Access forum that conforms to our expectations</p>
		        <div class="widget">
          <ul class="tags"> 
            <li>
            <p>
              <a href="{{=URL('catalog', 'series/dcb')}}">{{=T('Volumes')}}</a>
            </p>
            </li>
          </ul>
        </div>
		
		<hr>

		<h4>Coming in 2018</h4>
        <div class="row series-preview-row">
            <div class="col-lg-2">{{=IMG(_src=URL('static','images/catalog/preview.png'),_width='80px', _class='bildrahmen')}}</div>
            <div class="col-lg-9">
                <b>Corina Willkommen</b><br>                 
                <b>Digital Classics in der Praxis. Searching with eAQUA: Introduction and Exercises</b><br>
				<i>Digital Classics Books, Band 2</i><br><br>
                Coming end of 2018
            </div>
        </div>  
		<div class="row series-preview-row">
            <div class="col-lg-2">{{=IMG(_src=URL('static','images/catalog/preview.png'),_width='80px', _class='bildrahmen')}}</div>
            <div class="col-lg-9">
                <b>Charlotte Schubert / Kurt Sier (Hrsg.)</b><br>                 
                <b>Platon digital. Neue Wege der Rezeptionsforschung am Beispiel der digitalen Paraphrasensuche</b><br>
				<i>Digital Classics Books, Band 3</i><br><br>
				Coming end of 2018
            </div>
        </div>  
    </div>
		
   <div class="col-lg-3">
              <div id="infoBoxRechts">
                <p>{{=IMG(_src=URL('static','images/series/dcb_logo.png'),_width='230px')}}</p>

                <p><b>Editors</b><br>                
                Dr. Roxana Kath<br />  
                Dr. Michaela Rücker<br />
                Prof. Dr. Reinhold Scholl<br /> 
                Prof. Dr. Charlotte Schubert<br />
                </p>
                <p>
                <b>{{=T('Contact')}}</b><br />
                Prof. Dr. Charlotte Schubert<br />

                Lehrstuhl für Alte Geschichte<br />
                Historisches Seminar<br />
                Universität Leipzig<br />
                Beethovenstr. 15<br />
                D-04107 Leipzig<br />
                E-Mail: schubert@rz.uni-leipzig.de<br />
                Internet: <a href="http://www.gko.uni-leipzig.de/historisches-seminar/seminar/alte-geschichte/professur.html" title="Homepage Universität Leipzig, Information on Prof. Charlotte Schubert">Homepage</a>
                </p>
				        <p><b>ISSN</b><br>
				        2566-7890 (Print)
				        </p>
                
              </div>
		</div>	  

{{pass}}

  </div>  

</div>

