{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Freiburger Studien zur Archäologie und visuellen Kultur  
                {{elif session.forced_language =='en': }}
                Freiburger Studien zur Archäologie und visuellen Kultur
            {{pass}}
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>Die Schriftenreihe „Freiburger Studien zur Archäologie und visuellen Kultur“ (FAVis) wird seit 2018 vom Institut für Archäologische Wissenschaften (IAW) der Albert-Ludwigs-Universität Freiburg i. Br. herausgegeben. Im IAW sind seit 2008 sieben archäologisch-altertumswissenschaftliche Disziplinen verbunden: die Urgeschichtliche, Vorderasiatische, Klassische, Provinzialrömische und Byzantinische Archäologie, die Frühgeschichtliche Archäologie mit der Archäologie des Mittelalters und die Altorientalische Philologie. In der Reihe erscheinen Monographien und Sammelbände, die sich im Forschungsfeld von Archäologie und visueller Kultur des Altertums bewegen. Dabei stehen – über traditionelle Fächergrenzen hinweg – vor allem Ansätze der Bild-Artefakt-Interpretation im Zentrum.</p>
			<p>Die Bände der Reihe werden im Peer-Review-Verfahren in unregelmäßiger Folge als ‚open-access‘-Publikationen und im ‚print-on-demand‘ bei Propylaeum-eBooks der Universitätsbibliothek Heidelberg veröffentlicht.</p>
             <!--
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/favis')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
			 -->
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><!--<p>{{=IMG(_src=URL('static','images/series/archber_logo.jpg'),_width='230px')}}</p>-->

                <p><b>Herausgeber</b><br>
				Institut für Archäologische Wissenschaften der Universität Freiburg i. Br.<br /><br />
				
				E-Mail: sekretariat@archaeologie.uni-freiburg.de<br />
				Tel. +49 (0) 761 - 203 3073<br />
				Fax +49 (0) 761 - 203 3113
				 </p>
           </div>
        </div>   


                     {{elif session.forced_language =='en': }}
		<div class="col-lg-9">		
		    <p>The series „Freiburger Studien zur Archäologie und visuellen Kultur“ (FAVis) has been published since 2018 by the Institute of Archaeological Studies (IAW) at the Albert-Ludwigs-University in Freiburg i. Br. Founded in 2008, the IAW comprises seven disciplines of archaeology and ancient studies: protohistoric, near eastern, classical and byzantine archaeology, the archaeology of Roman provinces, medieval archaeology and the philology of the ancient near east. Monographs and colleted writings published in the series focus on the archaeolgy and visual culture of antiquity.  Across the boundaries of traditional disciplines, the series particularly aims at addressing phenomena of image-artefact-relations.</p>
			<p>The volumes are published under ‚peer-review‘ and ‚open access‘ with print-on-demand by Propylaeum-eBooks of the Library of Heidelberg University.</p>
             <!--
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/favis')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
			 -->
		</div>

		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><!--<p>{{=IMG(_src=URL('static','images/series/archber_logo.jpg'),_width='230px')}}</p>-->

                <p><b>Editors</b><br>
				Institut für Archäologische Wissenschaften der Universität Freiburg i. Br.<br /><br />
				
				E-Mail: sekretariat@archaeologie.uni-freiburg.de<br />
				Tel. +49 (0) 761 - 203 3073<br />
				Fax +49 (0) 761 - 203 3113
				 </p>
           </div>
        </div>  
{{pass}}

</div>


