{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Forschungsberichte des Landesmuseums für Vorgeschichte Halle
                {{elif session.forced_language =='en': }}
                Forschungsberichte des Landesmuseums für Vorgeschichte Halle
            {{pass}}
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>Die neueste Reihe des Landesamtes für Denkmalpflege und Archäologie Sachsen-Anhalt existiert seit 2012. An dieser Stelle werden die Ergebnisse längerfristiger Forschungsvorhaben, beispielsweise der Deutschen Forschungsgemeinschaft, der VolkswagenStiftung oder der »Lutherarchäologie « publiziert. Ziel ist es, mehrere Einzelbände zu einem umfassenden Themenkomplex, die über mehrere Jahre verteilt erscheinen, projektbezogen vorzulegen.</p>
            <p>Die ersten Bände stellen jeweils Teilergebnisse des DFG-Forschungsprojektes zur Himmelsscheibe von Nebra vor, danach folgen einige Bände des mehrjährigen Projektes zur Lutherarchäologie. Neben Bänden zum DFG-Projekt »Kulturwandel = Bevölkerungswechsel?« und zum Forschungsprojekt Salzmünde »Katastrope oder Ritual?« der Volkswagenstiftung werden in dieser Reihe künftig weitere wissenschaftliche Vorhaben publiziert.
 </p>

            <!--<div class="widget">
                <ul class="tags">
                   <li>
                      <p><a href="{{=URL('catalog', 'series/fblmh')}}">{{=T('Volumes')}}</a></p>
                   </li>
                </ul>
             </div>-->
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts">{{=IMG(_src=URL('static','images/series/fblmh_logo.png'),_width='230px')}}</p>
                <p><b>Herausgeber</b><br>
                Prof. Dr. Harald Meller</p>
                <p>Manuela Schwarz<br>
                Redaktion<br>
                Landesamt für Denkmalpflege und Archäologie Sachsen-Anhalt<br>
                – Landesmuseum für Vorgeschichte –<br>
                Richard-Wagner-Straße 9<br>
                06114 Halle (Saale)<br>
                Tel. 0345/5247-526<br>
                E-Mail: <a href="mailto:MSchwarz@lda.stk.sachsen-anhalt.de">MSchwarz@lda.stk.sachsen-anhalt.de</a></p>
				<p><b>ISSN</b><br>
				 2194-9441 (Print)
				 </p>
           </div>
        </div>   


                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p>Die neueste Reihe des Landesamtes für Denkmalpflege und Archäologie Sachsen-Anhalt existiert seit 2012. An dieser Stelle werden die Ergebnisse längerfristiger Forschungsvorhaben, beispielsweise der Deutschen Forschungsgemeinschaft, der VolkswagenStiftung oder der »Lutherarchäologie « publiziert. Ziel ist es, mehrere Einzelbände zu einem umfassenden Themenkomplex, die über mehrere Jahre verteilt erscheinen, projektbezogen vorzulegen.</p>
            <p>Die ersten Bände stellen jeweils Teilergebnisse des DFG-Forschungsprojektes zur Himmelsscheibe von Nebra vor, danach folgen einige Bände des mehrjährigen Projektes zur Lutherarchäologie. Neben Bänden zum DFG-Projekt »Kulturwandel = Bevölkerungswechsel?« und zum Forschungsprojekt Salzmünde »Katastrope oder Ritual?« der Volkswagenstiftung werden in dieser Reihe künftig weitere wissenschaftliche Vorhaben publiziert.
 </p>
                    <!--<div class="widget">
                        <ul class="tags">
                            <li>
                               <p><a href="{{=URL('catalog', 'series/fblmh')}}">{{=T('Volumes')}}</a></p>
                            </li>
                        </ul>
                    </div>-->
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts">{{=IMG(_src=URL('static','images/series/fblmh_logo.png'),_width='230px')}}</p>
                <p><b>Herausgeber</b><br>
                Prof. Dr. Harald Meller</p>
                <p>Manuela Schwarz<br>
                Redaktion<br>
                Landesamt für Denkmalpflege und Archäologie Sachsen-Anhalt<br>
                – Landesmuseum für Vorgeschichte –<br>
                Richard-Wagner-Straße 9<br>
                06114 Halle (Saale)<br>
                Tel. 0345/5247-526<br>
                E-Mail: <a href="mailto:MSchwarz@lda.stk.sachsen-anhalt.de">MSchwarz@lda.stk.sachsen-anhalt.de</a></p>
				<p><b>ISSN</b><br>
				 2194-9441 (Print)
				 </p>
           </div>
        </div 
{{pass}}

</div>


