{{extend 'layout.html'}}

<div class="container-fluid">
<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}                
                RGZM – Tagungen  
                {{elif session.forced_language =='en': }}              
                RGZM – Tagungen
            {{pass}}
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>In den Bänden dieser Reihe werden aktuelle Beiträge von wissenschaftlichen Tagungen oder Workshops publiziert, die das <a href="http://web.rgzm.de/" title="Homepage Römisch-Germanischen Zentralmuseums, Leibniz-Forschungsinstitut für Archäologie">Römisch-Germanischen Zentralmuseums, Leibniz-Forschungsinstitut für Archäologie</a> (RGZM) veranstaltet oder an denen das RGZM beteiligt ist. Für einige Bände ist das Erscheinen im Open Access parallel zum gedruckten Buch vorgesehen.</p>
	
		
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/rgzmtagung')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts">
				<p><b>ISSN</b><br>
				 2698-9069 (Online)
				 </p>
           </div>
        </div>    


                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p>In den Bänden dieser Reihe werden aktuelle Beiträge von wissenschaftlichen Tagungen oder Workshops publiziert, die das <a href="http://web.rgzm.de/" title="Homepage Römisch-Germanischen Zentralmuseums, Leibniz-Forschungsinstitut für Archäologie">Römisch-Germanischen Zentralmuseums, Leibniz-Forschungsinstitut für Archäologie</a> (RGZM) veranstaltet oder an denen das RGZM beteiligt ist. Für einige Bände ist das Erscheinen im Open Access parallel zum gedruckten Buch vorgesehen.</p>

                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/rgzmtagung')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts">
				<p><b>ISSN</b><br>
				 2698-9069 (Online)
				 </p>
           </div>
        </div> 
{{pass}}

</div>

<div class="row news-row">
        <div class="col-md-12">
		<h4>Weitere Publikationen des Römisch-Germanischen Nationalmuseums</h4> 
		</div>
        <!--div class="col-lg-1">
		<a href="http://web.rgzm.de/publikationen/rgzm-open-access/open-access-publikationen/tagungsband-sustainable-documentation-in-archaeology-technological-perspectives-in-excavation-an-processing-2014/">{{=IMG(_src=URL('static','images/series/rgzmmono_sustainable.jpg'),_width='80px', _class='bildrahmen')}}</a>
	    </div-->
        <div class="col-lg-11">
		<p>Nur online erschienen ist der Band (ohne Nummer):<br />
			<a href="http://web.rgzm.de/publikationen/rgzm-open-access/open-access-publikationen/tagungsband-sustainable-documentation-in-archaeology-technological-perspectives-in-excavation-an-processing-2014/" title="Homepage Römisch-Germanisches Nationalmuseum, 'Sustainable Documentation in Archaeology. ...'">Sustainable Documentation in Archaeology. Technological Perspectives in Excavation an Processing (2014)</a></p>
		</div>	
		
</div>
<div class="row news-row">
        <!--div class="col-lg-1"><a href="http://web.rgzm.de/publikationen/rgzm-open-access/open-access-publikationen/tagungsband-sustainable-documentation-in-archaeology-technological-perspectives-in-excavation-an-processing-2014/">{{=IMG(_src=URL('static','images/series/rgzmmono_wissen.jpg'),_width='80px', _class='bildrahmen')}}</a>
	    </div-->
		<div class="col-lg-11">
		<p>Zusätzlich zum gedruckten Buch ist bereits erhältlich (ohne Nummer):<br />
		   <a href="http://web.rgzm.de/fileadmin/Gruppen/Verlag/PDF-Dateien/Wissenstransfer/Wissen_fuer_die_Gesellschaft.pdf" title="Homepage Römisch-Germanisches Nationalmuseum, 'Wissen für die Gesellschaft' als PDF herunterladen">Wissen für die Gesellschaft</a></p>
	    </div>
        
</div>




</div>