{{extend 'layout.html'}}

<div class="container-fluid">
<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}                
                Monographien des RGZM 
                {{elif session.forced_language =='en': }}              
                Monographien des RGZM
            {{pass}}
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>In der Monographien-Serie des <a href="http://web.rgzm.de/" title="Homepage Römisch-Germanischen Zentralmuseums, Leibniz-Forschungsinstitut für Archäologie">Römisch-Germanischen Zentralmuseums, Leibniz-Forschungsinstitut für Archäologie</a>, werden auf der Grundlage archäologischer, historischer und literarischer Quellen übergreifende Fragestellungen zur prähistorischen, antiken und frühmittelalterlichen Geschichte, Kultur und Kunst behandelt. Ergänzende Materialien und Open Data können in die Online-Version aufgenommen werden.</p> 
        <p>Das Online-Angebot soll kontinuierlich durch die Retrodigitalisierung älterer Bände ergänzt werden.</p>
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/rgzmmono')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div> 

  		<h4>Zusatzdaten zu Publikationen dieser Reihe</h4> 
    		<p>Italienische Übersetzung der Texte aus:<br />
    			<a href="http://web.rgzm.de/publikationen/rgzm-open-access/open-access-publikationen/monographie-bazzano-ein-graeberfeld-bei-laquila-abruzzen-italienische-uebersetzung-online-mainz-2014/" title="Homepage Römisch-Germanisches Zentralmuseum, 'Bazzano – ein Gräberfeld bei L’Aquila (Abruzzen) ...'">Joachim Weidig, Bazzano – ein Gräberfeld bei L’Aquila (Abruzzen). Die Bestattungen des 8.–5. Jahrhunderts v.Chr., Monographien des RGZM, Band 112 (Mainz 2014)</a></p>
    		<p>Tabellenanhang zu:<br />
        <a href="https://web.rgzm.de/publikationen/details-neuerscheinungen/article/neue-publikation-zum-schatzfund-aus-dem-stadtweinhaus-in-muenster-westfalen-erschienen/" title="Homepage Römisch-Germanisches Zentralmuseum, 'Der Schatzfund aus dem Stadtweinhaus in Münster'">Anke K. Scholz, Der Schatzfund aus dem Stadtweinhaus in Münster / Westfalen und vergleichbare Schatzfunde des hohen und späten Mittelalters als archäologische Quelle. Monographien des RGZM, Band 144 (Mainz 2018)</a></p>
        
        <h4>Weitere Publikationen des Römisch-Germanischen Zentralmuseums</h4>
			  <ul>
          <li><a href="http://journals.ub.uni-heidelberg.de/index.php/ak/index">Archäologisches Korrespondenzblatt</a></li>
			    <li><a href="{{=URL('series', 'info/byzanzoo')}}">Byzanz zwischen Orient und Okzident</a></li>
          <li><a href="{{=URL('series', 'info/schoeningen')}}">Forschungen zur Urgeschichte aus dem Tagebau Schöningen</a></li>
          <li><a href="http://journals.ub.uni-heidelberg.de/index.php/jahrb-rgzm/index">Jahrbuch des Römisch-Germanischen Zentralmuseums Mainz</a></li>
          <li><a href="http://journals.ub.uni-heidelberg.de/index.php/restarch/index">Restaurierung und Archäologie</a></li>
				  <li><a href="{{=URL('series', 'info/rgzmtagung')}}">RGZM &ndash; Tagungen</a></li>
			  </ul>

        
    </div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts">
		        <p>{{=IMG(_src=URL('static','images/partner/rgzm_logo.png'),_width='230px')}}</p>
                <p><b>Verlag</b><br>
                Römisch-Germanisches Zentralmuseum,<br /> 
                Leibniz-Forschungsinstitut für Archäologie<br />
                Ernst-Ludwig-Platz 2<br />
                D-55116 Mainz<br /><br />
                
				        Tel.: +49 6131 9124 0<br>
                Fax: +49 6131 9124 199<br>
                E-mail: verlag@rgzm.de</p>
				    <p><b>ISSN</b><br>
				      2629-673X (Online)
				    </p>
           </div>
    </div>   

		

                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p>In the Monograph series of the <a href="http://web.rgzm.de/" title="Homepage Römisch-Germanischen Zentralmuseums, Leibniz-Forschungsinstitut für Archäologie">Romano-Germanic Central Museum, Leibniz Research Institute for Archaeology</a> (RGZM), comprehensive studies on prehistoric and early medieval archaeology, history, culture and art are published, based on archaeological, historical and written ancient sources. Additional material and Open Data can be included in the online-version.</p>
        <p>The digital content is planned to be enlarged by retrodigitalisation of older volumes.</p>
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/rgzmmono')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>

		<h4>Additional data on publications of this series</h4> 

    		<p>Italian translation of the texts from:<br />
    			<a href="http://web.rgzm.de/publikationen/rgzm-open-access/open-access-publikationen/monographie-bazzano-ein-graeberfeld-bei-laquila-abruzzen-italienische-uebersetzung-online-mainz-2014/" title="Homepage Römisch-Germanisches Zentralmuseum, 'Bazzano – ein Gräberfeld bei L’Aquila (Abruzzen) ...'">Joachim Weidig, Bazzano – ein Gräberfeld bei L’Aquila (Abruzzen). Die Bestattungen des 8.–5. Jahrhunderts v.Chr., Monographien des RGZM, Band 112 (Mainz 2014)</a></p>
    		<p>Table addendum of:<br />
        <a href="https://web.rgzm.de/publikationen/details-neuerscheinungen/article/neue-publikation-zum-schatzfund-aus-dem-stadtweinhaus-in-muenster-westfalen-erschienen/" title="Homepage Römisch-Germanisches Zentralmuseum, 'Der Schatzfund aus dem Stadtweinhaus in Münster'">Anke K. Scholz, Der Schatzfund aus dem Stadtweinhaus in Münster / Westfalen und vergleichbare Schatzfunde des hohen und späten Mittelalters als archäologische Quelle. Monographien des RGZM, Band 144 (Mainz 2018)</a></p>
        
     <h4>More publications of the Romano-Germanic Central Museum (RGZM)</h4>
     		<ul>
          <li><a href="http://journals.ub.uni-heidelberg.de/index.php/ak/index">Archäologisches Korrespondenzblatt</a></li>
			    <li><a href="{{=URL('series', 'info/byzanzoo')}}">Byzanz zwischen Orient und Okzident</a></li>
          <li><a href="{{=URL('series', 'info/schoeningen')}}">Forschungen zur Urgeschichte aus dem Tagebau Schöningen</a></li>
          <li><a href="http://journals.ub.uni-heidelberg.de/index.php/jahrb-rgzm/index">Jahrbuch des Römisch-Germanischen Zentralmuseums Mainz</a></li>
          <li><a href="http://journals.ub.uni-heidelberg.de/index.php/restarch/index">Restaurierung und Archäologie</a></li>
				  <li><a href="{{=URL('series', 'info/rgzmtagung')}}">RGZM &ndash; Tagungen</a></li>
			  </ul>   
    </div>    
		
		<div class="col-lg-3">

           <div id="infoBoxRechts">
		   <p>{{=IMG(_src=URL('static','images/partner/rgzm_logo.png'),_width='230px')}}</p>
                <p><b>Press</b><br>
                Römisch-Germanisches Zentralmuseum<br />
                Leibniz-Forschungsinstitut für Archäologie<br />
                Römisch-Germanisches Zentralmuseum<br />
                Ernst-Ludwig-Platz 2<br />
                D-55116 Mainz<br /><br />
                
				        Tel.: +49 6131 9124 0<br>
                Fax: +49 6131 9124 199<br>
                E-mail: verlag@rgzm.de</p>
				<p><b>ISSN</b><br>
				2629-673X (Online)
				</p>
           </div>

        </div>   
{{pass}}

</div>



</div>