{{extend 'layout.html'}}

<div class="container-fluid">
<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}                
                Monographien des RGZM 
                {{elif session.forced_language =='en': }}              
                Monographien des RGZM
            {{pass}}
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>In der Monographien-Serie werden auf der Grundlage archäologischer, historischer und literarischer Quellen übergreifende Fragestellungen zur prähistorischen, antiken und frühmittelalterlichen Geschichte, Kultur und Kunst behandelt.</p>
			<!--<p>Eine Übersicht der erschienenen Bände erhalten Sie im <a href="https://shop.rgzm.de/de/wissenschaftliche-reihen/monographien" title="Homepage Römisch-Germanisches Zentralmuseum; Online-Shop">Online-Shop</a> des Römisch Germanischen Zentralmuseums in Mainz.</p>-->			
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/rgzmmono')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">
		<!--
           <div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/series/archber_logo.jpg'),_width='230px')}}</p>

                <p><b>Herausgeber</b><br>
                Priv.-Doz. Dr. Frank Siegmund<br />
                Dr. Werner Schön<br />
                Diane Scherzler M.A.<br />
                Dr. Birgit Gehlen<br /><br />
                Internet: <a href="http://www.dguf.de/index.php?id=354" title="Redaktionswebsite">Redaktionswebsite</a></p>
           </div>
		 -->
        </div>   

		

                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p>In der Monographien-Serie werden auf der Grundlage archäologischer, historischer und literarischer Quellen übergreifende Fragestellungen zur prähistorischen, antiken und frühmittelalterlichen Geschichte, Kultur und Kunst behandelt.</p>
			<!--<p>Eine Übersicht der erschienenen Bände erhalten Sie im <a href="https://shop.rgzm.de/de/wissenschaftliche-reihen/monographien" title="Homepage Römisch-Germanisches Zentralmuseum; Online-Shop">Online-Shop</a> des Römisch Germanischen Zentralmuseums in Mainz.</p>-->				
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/rgzmmono')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
		<div class="col-lg-3">
		<!--
           <div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/series/archber_logo.jpg'),_width='230px')}}</p>

                <p><b>Herausgeber</b><br>
                Priv.-Doz. Dr. Frank Siegmund<br />
                Dr. Werner Schön<br />
                Diane Scherzler M.A.<br />
                Dr. Birgit Gehlen<br /><br />
                Internet: <a href="http://www.dguf.de/index.php?id=354" title="Redaktionswebsite">Redaktionswebsite</a></p>
           </div>
		 -->
        </div>   
{{pass}}

</div>

<div class="row news-row">
        <div class="col-md-12">
		<h4>Weitere Publikationen des Römisch-Germanischen Nationalmuseums</h4> 
		</div>
        <!--div class="col-lg-1">
		<a href="http://web.rgzm.de/publikationen/rgzm-open-access/open-access-publikationen/monographie-bazzano-ein-graeberfeld-bei-laquila-abruzzen-italienische-uebersetzung-online-mainz-2014/" title="Homepage Römisch-Germanisches Nationalmuseum, 'Bazzano – ein Gräberfeld bei L’Aquila (Abruzzen) ...'">{{=IMG(_src=URL('static','images/series/rgzmtagung_weidig.jpg'),_width='80px', _class='bildrahmen')}}</a>
	    </div-->
        <div class="col-lg-9">
		<p>Italienische Übersetzung der Texte aus:<br />
			<a href="http://web.rgzm.de/publikationen/rgzm-open-access/open-access-publikationen/monographie-bazzano-ein-graeberfeld-bei-laquila-abruzzen-italienische-uebersetzung-online-mainz-2014/" title="Homepage Römisch-Germanisches Nationalmuseum, 'Bazzano – ein Gräberfeld bei L’Aquila (Abruzzen) ...'">Joachim Weidig, Bazzano – ein Gräberfeld bei L’Aquila (Abruzzen). Die Bestattungen des 8.-5. Jahrhunderts v.Chr., Monographien des RGZM, Band 112 (Mainz 2014)</a></p>
		</div>	
		
</div>
<div class="row news-row">
        <!--div class="col-lg-1"><a href="http://web.rgzm.de/publikationen/rgzm-open-access/open-access-publikationen/monographie-das-kaiserzeitliche-graeberfeld-von-halbturn-mainz-2014/" title="Homepage Römisch-Germanisches Nationalmuseum, 'Das kaiserzeitliche Gräberfeld von Halbturn, Burgenland'">{{=IMG(_src=URL('static','images/series/rgzmtagung_doneus.jpg'),_width='80px', _class='bildrahmen')}}</a>
	    </div -->
		<div class="col-lg-9">
		<p><a href="http://web.rgzm.de/publikationen/rgzm-open-access/open-access-publikationen/monographie-das-kaiserzeitliche-graeberfeld-von-halbturn-mainz-2014/" title="Homepage Römisch-Germanisches Nationalmuseum, 'Das kaiserzeitliche Gräberfeld von Halbturn, Burgenland'">Nives Doneus (Hrsg.), Das kaiserzeitliche Gräberfeld von Halbturn, Burgenland. Monographien des RGZM, Band 122 (Mainz 2014). 4 Bände</a></p>
	    </div>
        
</div>

</div>