{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3> 
                Schweizer Beiträge zur Kulturgeschichte und Archäologie des Mittelalters
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>Die »Schweizer Beiträge zur Kulturgeschichte und Archäologie des Mittelalters« SBKAM werden seit 1974 als einmal jährlich erscheinendes wissenschaftliches Jahrbuch vom Schweizerischen Burgenverein herausgegeben.</p>
            <p>Entsprechend den statutengemässen Vereinszielen dient das Jahrbuch der Präsentation und Verbreitung aktueller Forschungsergebnisse der mittelalterlichen und frühneuzeitlichen Archäologie und Kulturgeschichte. Im Zentrum steht insbesondere die Präsentation von Forschungen zu mittelalterlichen Burgen und neuzeitlichen Schlössern, aber ebenso zu Klöstern, Kirchen und ländlichen wie städtischen Siedlungen sowie zur Sachkultur. Das Jahrbuch soll aktuelle wissenschaftliche Forschungsergebnisse so präsentieren, dass sie auch für interessierte Nichtfachleute verständlich sind.</p>
            <p>SBKAM ist offen für Beiträge von Autoren aller archäologischen oder verwandten Disziplinen. Den geographischen Rahmen bildet die Schweiz, wobei Vergleiche und Einordnungen der untersuchten Fragestellungen in grössere Zusammenhänge erwünscht sind.</p>
            <p>Die Beiträge in den SBKAM unterliegen einem Peer-Review-Verfahren durch Gutachter aus dem Kreis der Redaktionskommission; gegebenenfalls werden unabhängige externe Gutachter beigezogen.</p>
            <p>SBKAM erscheint als Buch im Format A4. Es wird den Mitgliedern des Schweizerischen Burgenvereins als Jahresgabe abgegeben. Publikationssprache ist Deutsch mit Zusammenfassungen ins Französische, Italienische und Englische.</p>
           <div class="widget">
                <ul class="tags">
                       <li>
                        <p><a href="{{=URL('catalog', 'series/sbkam')}}">{{=T('Volumes')}}</a></p>
                       </li>
                </ul>
          </div>
		</div>
		
        <div class="col-lg-3">
           <div id="infoBoxRechts">		<p>{{=IMG(_src=URL('static','images/series/burgenverein_logo.png'),_width='230px')}}</p>

                <p><b>Herausgeber</b><br>
				Band 1-17 (Frohburg): Walter-Verlag Olten/Freiburg i.Br.<br>
				ab Band 18/19: Schweizerischer Burgenverein, Basel 
				<br /><br />
				
				Jasmin Frei<br />
				Geschäftsstelle <br />
				Schweizerischer Burgenverein<br />
				Obermattstrasse 27<br />
				CH-8330 Pfäffikon<br />
				++41  (0)78 420 98 14<br />
				E-Mail: info@burgenverein.ch<br />
				Internet: <a href="https://www.burgenverein.ch" title="Link zur Homepage">www.burgenverein.ch</a>
				</p>

                <p><b>ISSN</b><br>
                2747-6804  (Online)
				</p>  
           </div>
        </div>   


                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p>The <em>Schweizer Beiträge zur Kulturgeschichte und Archäologie des Mittelalters</em> SBKAM [Swiss Studies of Medieval Cultural History and Archaeology] are a series of scientific reviews published annually since 1974 by the <em>Schweizerischer Burgenverein</em> [Swiss Castle Association].</p>
            <p>According to the statutory goals of the association, the aim of the annual review is to present and disseminate current research results in medieval and early modern archaeology and cultural history. The core objectives are to publish the latest research on medieval castles, post-medieval manorial seats, monasteries, churches, rural and urban settlements as well as material culture. The review’s aims are to present scientific research results in a way that can also be understood by interested laypeople.</p>
            <p>SBKAM is available for works in all archaeological and related disciplines. The geographic scope focuses on Switzerland, though comparisons and views of the wider context of the research questions explored are desirable.</p>
            <p>The works are peer-reviewed by specialists from the editing committee and in some cases independent external reviewers are also called upon.</p>
            <p>SBKAM is published in A4 book format. It is distributed to members of the <em>Schweizerischer Burgenverein</em> as an annual bonus. It is published in German with summaries in French, Italian and English.</p>
           <div class="widget">
                <ul class="tags">
                       <li>
                        <p><a href="{{=URL('catalog', 'series/sbkam')}}">{{=T('Volumes')}}</a></p>
                       </li>
                </ul>
          </div>
		</div>
		
		<div class="col-lg-3">
           <div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/series/burgenverein_logo.png'),_width='230px')}}</p>

                <p><b>Editors</b><br>
				Volume 1-17 (Frohburg): Walter-Verlag Olten/Freiburg i.Br.<br>
				From Volume 18/19: Schweizerischer Burgenverein, Basel 
				<br /><br />
				
                Jasmin Frei<br />
				Geschäftsstelle <br />
				Schweizerischer Burgenverein<br />
				Obermattstrasse 27<br />
				CH-8330 Pfäffikon<br />
				++41  (0)78 420 98 14<br />
				E-Mail: info@burgenverein.ch<br />
				Internet: <a href="https://www.burgenverein.ch" title="Link to the Homepage">www.burgenverein.ch</a>
				</p>
                <p><b>ISSN</b><br>
                2747-6804  (Online)
				</p>                
           </div>
        </div>  
{{pass}}

</div>


