{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Forschungen zur Urgeschichte aus dem Tagebau Schöningen  
                {{elif session.forced_language =='en': }}
                Forschungen zur Urgeschichte aus dem Tagebau Schöningen
            {{pass}}
            </h3>
		</div>	
</div>

<div class="row">
        {{if session.forced_language =='de': }}
				
		<div class="col-lg-9">		
		    <p>1994 stießen Archäologen im Braunkohlen-Tagebau bei Schöningen im Landkreis Helmstedt auf eine wissenschaftliche Sensation: Funde und Befunde wiesen auf steinzeitliche Jäger, die hier an einem Seeufer vor ca. 300.000 Jahren Jagd auf Wildpferde machten. Holzartefakte und weiteres organisches Material wurde von mächtigen Erdschichten überlagert und luftdicht konserviert. Die Hinterlassenschaften gehören zu den ältesten Besiedlungsspuren in Europa, die neue Erkenntnisse über die Fähigkeiten des Urmenschen vermitteln.</p>
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/schoeningen')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
    

		<div class="col-lg-3">
           <div id="infoBoxRechts"><!--<p>{{=IMG(_src=URL('static','images/series/archber_logo.jpg'),_width='230px')}}</p>-->

                <p><b>Herausgeber</b><br>
				Römisch-Germanische Zentralmuseum, Mainz<br>
				Niedersächsische Landesamt für Denkmalpflege, Hannover<br>
				Römisch-Germanische Kommission des Deutschen Archäologischen Instituts, Frankfurt<br>

				<!--
                Priv.-Doz. Dr. Frank Siegmund<br />
                Dr. Werner Schön<br />
                Diane Scherzler M.A.<br />
                Dr. Birgit Gehlen<br /><br />
                Internet: <a href="http://www.dguf.de/index.php?id=354" title="Redaktionswebsite">Redaktionswebsite</a></p>
				<p><b>ISSN</b><br>
				 2566-5340 (Print)<br />
				 2566-5359 (Online)-->
				 </p>
           </div>
        </div>   


                     {{elif session.forced_language =='en': }}

		<div class="col-lg-9">		
		    <p>1994 stießen Archäologen im Braunkohlen-Tagebau bei Schöningen im Landkreis Helmstedt auf eine wissenschaftliche Sensation: Funde und Befunde wiesen auf steinzeitliche Jäger, die hier an einem Seeufer vor ca. 300.000 Jahren Jagd auf Wildpferde machten. Holzartefakte und weiteres organisches Material wurde von mächtigen Erdschichten überlagert und luftdicht konserviert. Die Hinterlassenschaften gehören zu den ältesten Besiedlungsspuren in Europa, die neue Erkenntnisse über die Fähigkeiten des Urmenschen vermitteln.</p>
                    <div class="widget">
                        <ul class="tags">
             
                            <li>
                              
                               <p><a href="{{=URL('catalog', 'series/schoeningen')}}">{{=T('Volumes')}}</a></p>

                            </li>
                              
                        </ul>
                    </div>
		</div>
		
    
		<div class="col-lg-3">
           <div id="infoBoxRechts"><!--<p>{{=IMG(_src=URL('static','images/series/archber_logo.jpg'),_width='230px')}}</p>-->

                <p><b>Editors</b><br>
				Römisch-Germanische Zentralmuseum, Mainz<br>
				Niedersächsische Landesamt für Denkmalpflege, Hannover<br>
				Römisch-Germanische Kommission des Deutschen Archäologischen Instituts, Frankfurt<br>
				<!--
                Priv.-Doz. Dr. Frank Siegmund<br />
                Dr. Werner Schön<br />
                Diane Scherzler M.A.<br />
                Dr. Birgit Gehlen<br /><br />
                Internet: <a href="http://www.dguf.de/index.php?id=354" title="Redaktionswebsite">Redaktionswebsite</a></p>
				<p><b>ISSN</b><br>
				 2566-5340 (Print)<br />
				 2566-5359 (Online)-->
				 </p>
           </div>
        </div>  
        
        
{{pass}}

</div>


