{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Vorschau 
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>
        </div>   
	</div>


		<div class="container" id="hartmann" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Dietrich Klaus Hartmann<br />
							Archäologisch – baugeschichtliche Studie zu den Dorfkirchen im ehemaligen Bistum Konstanz</b><br />
							<i><a href="{{=URL('series','info/archber')}}" title="Informationen über die Reihe Archäologische Berichte">Archäologische Berichte</a></i>
						</div>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint im Herbst 2019
							{{elif session.forced_language =='en': }}
							Coming Autumn 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>
    
		    
		
		<div class="container" id="decabo" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_decabo.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Eva María Mateo Decabo</b><br />
							<b>Politik der kleinen Form. Paraklausithyron und Recusatio bei Properz, Tibull, Horaz und Ovid</b><br />

						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint im Herbst 2019
							{{elif session.forced_language =='en': }}
							Coming Autumn 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>    

		<div class="container" id="schlimbach" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						  <b>Fedor Schlimbach</b><br />
							<b>Grabungen in al-Andarīn im Sommer 2010: Die ‚Hauptkirche‘ von Androna</b><br />
						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Herbst 2019
  							{{elif session.forced_language =='en': }}
							Coming Autumn 2019
	   						{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>   

		
		<div class="container" id="weilbach" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_weilbach.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Christoph Weilbach</b><br />
							<b>Medizinische Äußerungen in den Briefen Ciceros, Senecas d. J. und Plinius‘ d. J. und den medizinischen Schriften Celsus‘, Plinius‘ d.Ä. und Scribonius Largus</b><br />

						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2019
							{{elif session.forced_language =='en': }}
							Coming by end of  2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>   
		
		
		<!--<div class="container" id="aiac_congress" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>AIAC-Congress; Michael Heinzelmann, Martin Bentz (Hrsg.)</b><br />
							<b>19th International Congress of Classical Archaeology World (ICCA)</b><br />

						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2019
							{{elif session.forced_language =='en': }}
							Coming by end of  2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div> -->  

		<div class="container" id="knosala" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_knosala.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Thomas Knosala</b><br />
							<b>Die Grabrepräsentation der ritterlichen und senatorischen Bevölkerungsgruppe in Lazio. Beginn der Republik&nbsp;– spätseverische Zeit.</b><br />

						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint im Frühjahr 2020
							{{elif session.forced_language =='en': }}
							Coming in Spring  2020
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>   
			     
		<div class="row">
			<div  id="vorschau_reihen" class="col-lg-12">
				<h4>  {{if session.forced_language =='de': }}
					Reihen (in Vorbereitung)
					{{elif session.forced_language =='en': }}
					Series (in preparation)
				{{pass}}
				</h4>
			</div>   
		</div>	

		
			<div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Nikolaus Dietrich / Caterina Maderna / Diamantis Panagiotopoulos ({{=T('Eds.')}})</b><br />
							<b><a href="{{=URL('series','info/akt')}}" title="Informationen über die Reihe Archäologie – Kultur – Theorie. Heidelberger Beiträge zur klassischen Archäologie">Archäologie – Kultur – Theorie. Heidelberger Beiträge zur klassischen Archäologie</a></b>
							
						</div>	
						<!--<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2018
							{{elif session.forced_language =='en': }}
							Coming end of 2018
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
		</div>
		
		<div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Jochen Sauer (Hrsg.)</b><br>
							<b>Acta Didactica Classica - Bielefelder Beiträge zur Didaktik der Alten Sprachen in Schule und Universität</b>
							
						</div>	
						<!--<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2018
							{{elif session.forced_language =='en': }}
							Coming end of 2018
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
		</div>
		<div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Hans-Joachim Glücklich, Ivo Gottwald, Rainer Nickel, Felix M. Prokoph  (Hrsg.)</b><br>
							<b><a href="{{=URL('series','info/arsdidactica')}}" title="Informationen über die Reihe Ars Didactica - Alte Sprachen lehren und lernen">Ars Didactica - Alte Sprachen lehren und lernen</a></b>
							
						</div>	
						<!--<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2018
							{{elif session.forced_language =='en': }}
							Coming end of 2018
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
		</div>
				<div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>International Congress of Roman Frontier Studies</b><br>
							<b>Akten des ... Internationalen Limeskongresses</b>
							
						</div>	
						<!--<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2018
							{{elif session.forced_language =='en': }}
							Coming end of 2018
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
		</div>
		</div>