{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Vorschau 
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>
        </div>   
	</div>

		
		<div class="container" id="zoeller" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_zoeller_engelhardt.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Andrea Kilian & Monika Zöller-Engelhardt ({{=T('Eds.')}})</b><br />
							<b>Excavating the Extra-Ordinary. Challenges & Merits of Working with Small Finds</b><br />

						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint im Winter 2020
							{{elif session.forced_language =='en': }}
							Coming Winter 2020
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div> 

		<div class="container" id="lohmann" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_lohmann.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Polly Lohmann ({{=T('Ed.')}})</b><br />
							<b>Archäologie und Politik / Arheologie și politică / Archaeology and Politics</b><br />
                            Begleitband zur Pop-up-Ausstellung / Volumul însoțitor al expozitiei pop-up / Companion volume to the pop-up exhibition

						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint im Winter 2020/21
							{{elif session.forced_language =='en': }}
							Coming Winter 2020/21
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>   
        

		<div class="container" id="zoeller" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Rebecca Döhl</b><br />
							<b>Felsbilder Ägyptens. Zeichen einer sozialisierten Landschaft</b>
						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint im Frühling 2021
							{{elif session.forced_language =='en': }}
							Coming Spring 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div> 
        
		<div class="container" id="knosala" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_knosala.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Thomas Knosala</b><br />
							<b>Die Grabrepräsentation der ritterlichen und senatorischen Bevölkerungsgruppe in Lazio. Beginn der Republik&nbsp;– spätseverische Zeit.</b>

						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint im Frühling 2021
							{{elif session.forced_language =='en': }}
							Coming Spring 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>          

      

		<div class="row">
			<div  id="vorschau_reihen" class="col-lg-12">
				<h4>  {{if session.forced_language =='de': }}
					Reihen (in Vorbereitung)
					{{elif session.forced_language =='en': }}
					Series (in preparation)
				{{pass}}
				</h4>
			</div>   
		</div>	
      

		<div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>International Congress of Roman Frontier Studies</b><br>
							<b>Akten des ... Internationalen Limeskongresses</b>
							
						</div>	
						<!--<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2018
							{{elif session.forced_language =='en': }}
							Coming end of 2018
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
		</div>		
        
        
			<div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Nikolaus Dietrich / Caterina Maderna / Diamantis Panagiotopoulos ({{=T('Eds.')}})</b><br />
							<b><a href="{{=URL('series','info/akt')}}" title="Informationen über die Reihe Archäologie – Kultur – Theorie. Heidelberger Beiträge zur klassischen Archäologie">Archäologie – Kultur – Theorie. Heidelberger Beiträge zur klassischen Archäologie</a></b>
							
						</div>	
						<!--<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2018
							{{elif session.forced_language =='en': }}
							Coming end of 2018
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
		</div>



		<div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','/files/presses/3/series/66-series.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>	
						<div class="post-heading">
							<b><a href="{{=URL('series','info/chnt')}}" title="Informationen über die Reihe Conference of Cultural Heritage and New Technologies">Conference of Cultural Heritage and New Technologies</a></b>							
						</div>
						<!--
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint voraussichtlich im Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Estimated Coming in spring 2021
							{{pass}}
						</p>
						-->
					</article>
				</div>
			</div>
		</div>

		<div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>	
						<div class="post-heading">
                            <b><a href="{{=URL('series','info/fblmh')}}" title="Forschungsberichte des Landesmuseums für Vorgeschichte Halle">Forschungsberichte des Landesmuseums für Vorgeschichte Halle</a></b>							
						</div>
						<!--<p>
						    {{if session.forced_language =='de': }}
							Erscheint voraussichtlich im Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Estimated Coming in spring 2021
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
		</div>  

        <div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','files/presses/3/series/65-series.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>	
						<div class="post-heading">

							<b><a href="{{=URL('series','info/sbkam')}}" title="Schweizer Beiträge zur Kulturgeschichte und Archäologie des Mittelalters">Schweizer Beiträge zur Kulturgeschichte und Archäologie des Mittelalters</a></b>							
						</div>
						<!--
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint voraussichtlich im Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Estimated Coming in spring 2021
							{{pass}}
						</p>
						-->
					</article>
				</div>
			</div>
		</div>

		<div class="container" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>	
						<div class="post-heading">
						    <b>AG Theorien in der Archäologie (Hrsg.)</b><br>
							<b><a href="{{=URL('series','info/tida')}}" title="Informationen über die Reihe Theoriedenken in der Archäologie (TidA)">Theoriedenken in der Archäologie (TidA)</a></b>							
						</div>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint voraussichtlich im Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Estimated Coming in spring 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>



		

		</div>