{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Vorschau 
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>
        </div>   
	</div>


    <div style="height: 20px"></div>
    
   
	



		<div class="container" id="knaus" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Dietrich Klaus Hartmann<br />
							Archäologisch – baugeschichtliche Studie zu den Dorfkirchen im ehemaligen Bistum Konstanz</b><br />
							<i><a href="{{=URL('series','info/archber')}}" title="Informationen über die Reihe Archäologische Berichte">Archäologische Berichte</a>, Band 30</i>
						</div>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint im Frühjahr 2019
							{{elif session.forced_language =='en': }}
							Coming Spring 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>
    
		    
		
		<div class="container" id="decabo" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Eva María Mateo Decabo</b><br />
							<b>Politik der kleinen Form. Paraklausithyron und Recusatio bei Properz, Tibull, Horaz und Ovid</b><br />

						</div>	
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint im Frühjahr 2019
							{{elif session.forced_language =='en': }}
							Coming Spring 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>    

			     

    			

	
	
		</div>
		

	
		



		<div class="row">
			<div  id="vorschau_reihen" class="col-lg-12">
				<h4>  {{if session.forced_language =='de': }}
					Reihen (in Vorbereitung)
					{{elif session.forced_language =='en': }}
					Series (in preparation)
				{{pass}}
				</h4>
			</div>   
		</div>	
		
			<div class="container" id="akt" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Nikolaus Dietrich / Caterina Maderna / Diamantis Panagiotopoulos ({{=T('Eds.')}})</b><br />
							<b><a href="{{=URL('series','info/akt')}}" title="Informationen über die Reihe Archäologie – Kultur – Theorie. Heidelberger Beiträge zur klassischen Archäologie">Archäologie – Kultur – Theorie. Heidelberger Beiträge zur klassischen Archäologie</a></b>
							
						</div>	
						<!--<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2018
							{{elif session.forced_language =='en': }}
							Coming end of 2018
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
		</div>
		
		<div class="container" id="akt" height="400px">
			<div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <p><b>Institut für Archäologische Wissenschaften der Universität Freiburg i. Br. ({{=T('Eds.')}})</b><br />
							<b><a href="{{=URL('series','info/favis')}}" title="Informationen über die Reihe Freiburger Studien zur Archäologie und visuellen Kultur">Freiburger Studien zur Archäologie und visuellen Kultur </a></b></p>
						</div>	
						<!--<p>
						    {{if session.forced_language =='de': }}
							Erscheint Ende 2018
							{{elif session.forced_language =='en': }}
							Coming end of 2018
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
		</div>

	
	
    </div>
    
