{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Profil
                {{elif session.forced_language =='en': }}
                 Profile
            {{pass}}
            </h3>

            
                {{if session.forced_language =='de': }}
                <p><strong>Propylaeum-eBOOKS</strong> unterstützt <strong>Open Access</strong> als Publikationsmodell für die Verbreitung von Forschungsergebnissen und den freien Zugang zu wissenschaftlicher Information. Wir bieten Altertumswissenschaftlerinnen und Altertumswissenschaftlern weltweit die Möglichkeit, ihre Forschungsergebnisse zeitnah und kostenfrei elektronisch zu veröffentlichen und so die Sichtbarkeit und die Wirkung Ihrer Publikationen zu erhöhen. Wir publizieren sowohl <strong>Erstveröffentlichungen</strong>> wissenschaftlicher Werke (&bdquo;goldener Weg&ldquo; des Open Access) als auch <strong>Zweitveröffentlichungen</strong> (&bdquo;grüner Weg&ldquo; des Open Access), d.h. die zusätzliche Veröffentlichung von einem bereits gedruckt erschienenen Werk.</p>
                 

<h4>Propylaeum eBooks ist den folgenden Prinzipien verpflichtet</h4>
<ul>
  <li>Die primäre Publikationsform ist die Online-Veröffentlichung in unterschiedlichen digitalen Formaten im Open Access (PDF, HTML).</li>
  <li>In Ergänzung zu den frei zugänglichen digitalen Formaten bietet Propylaeum-eBOOKS die Veröffentlichung als gedrucktes Buch (Print-on-Demand). Kostenpflichtige Hard- oder Softcoverausgaben können über den Buchhandel bezogen werden kann.</li>
  <li>Veröffentlicht werden Monographien, Sammelbände, Ausstellungskataloge, Konferenzbände und Festschriften aus allen Fachgebieten der Altertumswissenschaften. Nicht in unser Publikationsprofil gehören in der Regel Tagungs- und Kongressberichte, Tätigkeitsberichte, populärwissenschaftliche Veröffentlichungen.</li>
  <li>Dissertationen akzeptieren wir, wenn sie mit „Summa cum laude“ oder „Magna cum laude“ bewertet wurden.</li>
  <li>Die Erfüllung wissenschaftlicher Qualitätsstandards ist das wichtigste Kriterium für eine Publikation in Propylaeum-eBOOKS. Diese sollte beispielsweise bei Dissertationen durch die Empfehlung der Gutachter oder bei wissenschaftlichen Reihen durch die Herausgeber sichergestellt werden.</li>
  <li>Bei Propylaeum-eBOOKS veröffentlichte Titel erhalten eine DOI und eine eigene ISBN und sind somit dauerhaft referenzierbar. Buchreihen erhalten darüber hinaus eine ISSN.</li>
 </ul> 
<p>Im Zentrum unserer derzeitigen Aktivitäten im Bereich des elektronischen Publizierens steht die Entwicklung multimedialer Publikationsmöglichkeiten. Strukturierte wissenschaftliche Texte können mit Bildern, Karten oder 3D-Visualisierungen ("Enhanced eBooks") verknüpft werden. Diese Art der Veröffentlichung ist besonders gut auf die Bedürfnisse von Wissenschaftlerinnen und Wissenschaftlern zugeschnitten, deren Arbeit nicht nur Textbasiert ist, sondern die sich bei ihrer Forschung auf multimediale Daten wie Videos, Bilder oder Tonaufnahmen stützen.</p>
 
<p><strong>Propylaeum-eBOOKS</strong> wird von der Deutschen Forschungsgemeinschaft (DFG) im Rahmen des Fachinformationsdienstes Propylaeum unterstützt und von der Universitätsbibliothek Heidelberg verantwortet.</p>
<p>Zum Einsatz kommt die Open-Source-Software <a href="https://pkp.sfu.ca/omp/" title="Webseite der Software Open Monograph Press">OMP (Open Monograph Press)</a> des <a href="https://pkp.sfu.ca/" title="Webseite von Public Knowledge Project">Public Knowledge Project (PKP)</a></p>

<h4>Sie interessieren sich für eine Veröffentlichung bei Propylaeum-eBOOKS?</h4>
<p>Nähere Informationen zum Publizieren und zu rechtlichen Fragen finden Sie auf unserer Seite &bdquo;{{=A(T('Publishing'),_href=URL('publishing','for_authors'))}}&ldquo;.</p>

  
                     {{elif session.forced_language =='en': }}
<p>The Open Access platform <b>Propylaeum-eBOOKS</b> offers researchers of the University of Heidelberg a possibility to publish their research in time and free of charges.</p>
                <p>We support the <b>Open Access</b> publishing model for distributing research results and publish therefore <b>primary publications</b> (“gold”) as well as <b>secondary publications</b> (“green”).</p>
                <p>We are using the Open-Source-Software <a href="https://pkp.sfu.ca/omp/" title="Webseite der Software Open Monograph Press">OMP (Open Monograph Press)</a> by the  <a href="https://pkp.sfu.ca/" title="Webseite von Public Knowledge Project">Public Knowledge Project (PKP)</a>.</p>
                <p><b>Propylaeum-eBOOKS</b> is an Open Access publication platform by <b>Propylaeum</b>, the DFG-funded <b>Specialised Information Service of Classical Studies</b> which is maintained by Heidelberg University Library.</p>
                <h5>Propylaeum eBooks adheres to the following principles:</h5>
                <ul class="standard">
                    <li>Open Access online publication in different digital formats is the principal form of publication.</li>
                    <li>In addition to the freely available digital formats <b>Propylaeum-eBOOKS</b> also offers a book publication (print on demand) that can be purchased from local or online booksellers.</li>
                    <li>We publish monographs as well as series from all research fields.</li>
                    <li>Compliance with academic quality standards is an important condition and should be guaranteed e.g. for dissertations by reviewers or for series by the series editors.</li>
                    <li>All titles published with <b>Propylaeum-eBOOKS</b> have their own ISBN or ISSN (for series) as well as a DOI number and are thus clearly referenced.</li>
                </ul>

{{pass}}
    </div>
</div>

