{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                 Corpus der minoischen und mykenischen Siegel (CMS)
                {{elif session.forced_language =='en': }}
                 Corpus der minoischen und mykenischen Siegel (CMS)
            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}
                
                <div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/partner/cms_logo.png'),_width='145px')}}</p>
                <br />
                <p><b>Kontakt</b><br />
                Institut für Klassische Archäologie<br />
                Marstallhof 4<br />
                D-69117 Heidelberg<br /><br />
 
                Prof. Dr. Diamantis Panagiotopoulos<br />
                Tel.: +49 6221 54 2511<br />
                E-Mail: diamantis.panagiotopoulos@zaw.uni-heidelberg.de<br /><br />

                Dr. Maria Anastasiadou<br />
                <a href="http://lsf.uni-heidelberg.de/qisserver/rds?state=verpublish&status=init&vmfile=no&moduleCall=webInfo&publishConfFile=webInfoPerson&publishSubDir=personal&keep=y&purge=y&personal.pid=21201" title="Sprechzeiten">Sprechzeiten</a><br />
                E-Mail: maria.anastasiadou@zaw.uni‐heidelberg.de<br /><br />

                Internet: <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/index.html" title="Homepage des CMS">Homepage</a>
                </p>
                </div>
                <p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/partner/cms_partner1.jpg'),_height='150px',_style='float:right;margin-left:0.5em;',_title='Die Räume des CMS in Heidelberg')}} {{=IMG(_src=URL(myconf.take('web.application'),'static','images/partner/cms_partner2.jpg'),_height='150px',_style='float:right;margin-left:0.2em;',_title='CMS I Nr. 5')}}Das <b>Corpus der minoischen und mykenischen Siegel (CMS)</b> ist ein Langzeitprojekt, dessen Ziel es ist, alle bekannten ägäischen Siegel und Siegelabdrücke einheitlich zu dokumentieren und zu publizieren.</p>
                <p>Das Projekt war von 1958 bis 2011 in Marburg angesiedelt unter der Leitung von Friedrich Matz (1958-1974), Ingo Pini (1975-2002) und Walter Müller (2003-2011) in Kooperation mit der Mainzer Akademie der Wissenschaften. Im Dezember 2011 ist das Corpus dann aus <a title="Projekinformationen" href="http://www.cms.adwmainz.de/informationen.html">Marburg</a> an das <a title="Homepage des Instituts für Klassische Archäologie" href="http://www.klassische-archaeologie.uni-hd.de/">Institut für Klassische Archäologie</a> an der <a title="Homepage der Universität Heidelberg" href="http://www.uni-heidelberg.de/universitaet/">Universität Heidelberg</a> gezogen. Die Leitung liegt heute bei Diamantis Panagiotopoulos and Maria Anastasiadou.</p>
                <p>Das <b>CMS</b> besteht aktuell aus dem <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/archive/archive.html" title="CMS Archiv">CMS Archiv</a>, den <a title="CMS Bänden" href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/cmsseries/cmsseries.html">CMS Bänden</a>, und den <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/databases/databases.html" title="CMS Datenbanken">CMS Datenbanken</a>.</p> 
{{elif session.forced_language =='en': }}
<div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/partner/cms_logo.png'),_width='145px')}}</p>
                <br />
<p><b>Kontakt</b><br />
Institut für Klassische Archäologie<br />
                Marstallhof 4<br />
                D-69117 Heidelberg<br /><br />

                <b>Prof. Dr. Diamantis Panagiotopoulos</b><br />
                Tel.: +49 6221 54 2511<br />
                E-Mail: diamantis.panagiotopoulos@zaw.uni-heidelberg.de<br /><br />

                <b>Dr. Maria Anastasiadou</b><br />
                <a href="http://lsf.uni-heidelberg.de/qisserver/rds?state=verpublish&status=init&vmfile=no&moduleCall=webInfo&publishConfFile=webInfoPerson&publishSubDir=personal&keep=y&purge=y&personal.pid=21201" title="Sprechzeiten">Sprechzeiten</a><br />
                E-Mail: maria.anastasiadou@zaw.uni‐heidelberg.de<br /><br />

                Internet: <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/index.html" title="Homepage des CMS">Homepage</a>
                </p>
                </div>

                <p>The <b>“Corpus der minoischen und mykenischen Siegel” (CMS)</b> is a long-term project aiming to systematically documentat and publicsh all known Aegean seals and sealings in a consistent manner.</p>
                <p>The project was established and carried out in Marburg from 1958 to 2011 under the direction of Friedrich Matz (1958-1974), Ingo Pini (1975-2002) and Walter Müller (2003-2011) and through the generous support of the Mainz Academy of Science and Literature. In December 2011, it was moved from <a title="project information" href="http://www.cms.adwmainz.de/informationen.html">Marburg</a> to its new home, the <a title="Homepage of Institute of Classical Archaeology" href="http://www.klassische-archaeologie.uni-hd.de/">Institute of Classical Archaeology</a> at the <a title="Homepage of the University of Heidelberg" href="http://www.uni-heidelberg.de/universitaet/">University of Heidelberg</a> under the supervision of Diamantis Panagiotopoulos and Maria Anastasiadou.</p>
                <p>The <b>CMS</b> currently consists of the  <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/archive/archive.html" title="CMS Archiv">CMS Archive</a>, the <a title="CMS Volumes" href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/cmsseries/cmsseries.html">CMS Volumes</a>, and the <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/cms/databases/databases.html" title="CMS Databases">CMS Databases</a>.</p>

                {{pass}}


            </p>

        </div>
    </div>
  </div>
 
