{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
		{{if session.forced_language =='de': }}
            <h3>LWL-Archäologie für Westfalen</h3>
			{{elif session.forced_language =='en': }}
			<h3>LWL-Archäologie für Westfalen (Archeology for Westphalia)</h3>
			{{pass}}
		</div>
</div>

<div class="row">
		{{if session.forced_language =='de': }}
			<div class="col-lg-9">                
					<p>Unter dem Dach des Landschaftsverbandes Westfalen-Lippe (LWL) ist die <a href="https://www.lwl-archaeologie.de/de/" title="Link zur Homepage">LWL-Archäologie für Westfalen</a> gemäß Denkmalschutzgesetz NRW als unabhängiges Fachamt für die Bodendenkmalpflege in Westfalen zuständig. Die LWL-Archäologie vertritt damit das gemeinschaftliche Interesse an den Zeugnissen unserer Vergangenheit und arbeitet als Träger öffentlicher Belange eng mit den Denkmalbehörden der Kommunen, der Kreise und des Landes Nordrhein-Westfalen zusammen. Die Hinterlassenschaften vergangener Epochen zu entdecken, zu schützen und zu erhalten, sie auszugraben, zu dokumentieren und zu erforschen und die neuesten Erkenntnisse zu vermitteln – das sind die vielfältigen Aufgaben der LWL-Archäologie für Westfalen.</p>
					<p>Um die Forschungsergebnisse einer breiten Öffentlichkeit zugänglich zu machen, veröffentlicht die LWL-Archäologie verschiedenste Publikationen von der populärwissenschaftlichen Broschüre bis zur mehrbändigen Dissertation. Sie ist Herausgeberin mehrerer Reihen und Zeitschriften, die in Kooperation mit Propylaeum auch im Open Access angeboten werden. Als Propylaeum-eJournals sind bereits die Zeitschriften <a href="http://journals.ub.uni-heidelberg.de/index.php/aiw" title="Link zur Zeitschrift">Archäologie in Westfalen-Lippe</a> und <a href="http://journals.ub.uni-heidelberg.de/index.php/afwl" title="Link zur Zeitschrift">Ausgrabungen und Funde in Westfalen-Lippe</a> verfügbar. Derzeit wird das Open-Access-Angebot weiter ausgebaut, sodass demnächst auch die Reihen <a href="{{=URL('series', 'info/baw')}}">Bodenaltertümer Westfalens</a> und Denkmalpflege und Forschung in Westfalen als Propylaeum-eBooks zur Verfügung gestellt werden können.</p>
			</div>

			<div class="col-lg-3">
				<div id="infoBoxRechts">
						<p>{{=IMG(_src=URL('static','images/partner/lwlaw_logo.png'))}}</p>
					   
						<p><b>Kontakt</b><br>
						LWL-Archäologie für Westfalen<br />
						An den Speichern 7<br />
						48157 Münster<br /><br />

						Tel.: +49 251 591-8801<br />
						E-Mail: lwl-archaeologie@lwl.org<br />
						Inernet: <a href="https://www.lwl-archaeologie.de/de/" title="Link zur Homepage">www.lwl-archaeologie.de</a></p>
				</div>                
			</div>		
			 
		{{elif session.forced_language =='en': }}
			<div class="col-lg-9">                
					<p>Under the umbrella of the Landschaftsverband Westfalen-Lippe (LWL) <a href="https://www.lwl-archaeologie.de/de/" title="Link to the Homepage">LWL-Archäologie für Westfalen</a>, according to the heritage protection law of North Rine-Westphalia, is an independent office responsible for archeological monument conservation. Hence, LWL-Archäologie is representing the common interest regarding the historical testimonies and artefacts of our past. As a trustee of public interest it works closely with the monuments offices of local communities, districts and the federal state of North Rine-Westphalia. The manifold tasks of der LWL-Archäologie für Westfalen include finding, documenting, researching, protecting and maintaining the remains of past eras and conveying recent knowledge and finds.</p>  
					<p>To make the research results available to a wide audience LWL-Archäologie publishes several publications, ranging from popular scientific brochures to dissertations comprising several volumes. It also publishes several publication series and journals which are available in Open Access in collaboration with Propylaeum. The journals <a href="http://journals.ub.uni-heidelberg.de/index.php/aiw" title="Link to the journal">Archäologie in Westfalen-Lippe</a> and <a href="http://journals.ub.uni-heidelberg.de/index.php/afwl" title="Link to the journal">Ausgrabungen und Funde in Westfalen-Lippe</a> are already available as Propylaeum-eJournals. The series <a href="{{=URL('series', 'info/baw')}}">Bodenaltertümer Westfalens</a> and Denkmalpflege und Forschung in Westfalen are soon to follow and will be made available as Propylaeum-eBooks in the course of the expansion of the Open Access range.</p>
			</div>
			
			<div class="col-lg-3">
				<div id="infoBoxRechts">
						<p>{{=IMG(_src=URL('static','images/partner/lwlaw_logo.png'))}}</p>
							   
						<p><b>Contact</b><br>
						LWL-Archäologie für Westfalen<br />
						An den Speichern 7<br />
						48157 Münster<br /><br />

						Tel.: +49 251 591-8801<br />
						E-Mail: lwl-archaeologie@lwl.org<br />
						Inernet: <a href="https://www.lwl-archaeologie.de/de/" title="Link zur Homepage">www.lwl-archaeologie.de</a></p>
                     </div>                
			</div>
	  
		{{pass}}

</div>

 
