{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>LWL-Archäologie für Westfalen</h3>
		</div>
</div>

<div class="row">
		{{if session.forced_language =='de': }}
			<div class="col-lg-9">                
					<p>Weitere Informationen folgen!</p>
			</div>

			<div class="col-lg-3">
				<div id="infoBoxRechts">
						<p>{{=IMG(_src=URL('static','images/partner/lwlaw_logo.png'),_width='145px')}}</p>
					   
						<p><b>Kontakt</b><br>
						<!--
						Deutsche Gesellschaft für Ur- und Frühgeschichte e. V. <br />
						An der Lay 4<br />
						D-54578 Kerpen-Loogh--></p>
				</div>                
			</div>		
			 
		{{elif session.forced_language =='en': }}
			<div class="col-lg-9">                
					<p>More information coming soon</p>  
			</div>
			
			<div class="col-lg-3">
				<div id="infoBoxRechts">
						<p>{{=IMG(_src=URL('static','images/partner/lwlaw_logo.png'),_width='145px')}}</p>
							   
						<p><b>Contact</b><br>
						<!--
						Deutsche Gesellschaft für Ur- und Frühgeschichte e. V. <br />
						An der Lay 4<br />
						D-54578 Kerpen-Loogh--></p>
                     </div>                
			</div>
	  
		{{pass}}

</div>

 
