{{extend 'layout.html'}}

<div class="row">
		<div class="col-lg-12 contentbox-12">
            <h3>LWL-Archäologie für Westfalen</h3>
		</div>
</div>

<div class="row">
		{{if session.forced_language =='de': }}
			<div class="col-lg-9">                
					<p>Unter dem Dach des Landschaftsverbandes Westfalen-Lippe (LWL) ist die <a href="https://www.lwl-archaeologie.de/de/" title="Link zur Homepage">LWL-Archäologie für Westfalen</a> gemäß Denkmalschutzgesetz NRW als unabhängiges Fachamt für die Bodendenkmalpflege in Westfalen zuständig. Die LWL-Archäologie vertritt damit das gemeinschaftliche Interesse an den Zeugnissen unserer Vergangenheit und arbeitet als Träger öffentlicher Belange eng mit den Denkmalbehörden der Kommunen, der Kreise und des Landes Nordrhein-Westfalen zusammen. Die Hinterlassenschaften vergangener Epochen zu entdecken, zu schützen und zu erhalten, sie auszugraben, zu dokumentieren und zu erforschen und die neuesten Erkenntnisse zu vermitteln – das sind die vielfältigen Aufgaben der LWL-Archäologie für Westfalen.</p>
					<p>Um die Forschungsergebnisse einer breiten Öffentlichkeit zugänglich zu machen, veröffentlicht die LWL-Archäologie verschiedenste Publikationen von der populärwissenschaftlichen Broschüre bis zur mehrbändigen Dissertation. Sie ist Herausgeberin mehrerer Reihen und Zeitschriften, die in Kooperation mit Propylaeum auch im Open Access angeboten werden. Als Propylaeum-eJournals sind bereits die Zeitschriften <a href="http://journals.ub.uni-heidelberg.de/index.php/aiw" title="Link zur Zeitschrift">Archäologie in Westfalen-Lippe</a> und <a href="http://journals.ub.uni-heidelberg.de/index.php/afwl" title="Link zur Zeitschrift">Ausgrabungen und Funde in Westfalen-Lippe</a> verfügbar. Derzeit wird das Open-Access-Angebot weiter ausgebaut, sodass demnächst auch die Reihen <a href="{{=URL('series', 'info/baw')}}">Bodenaltertümer Westfalens</a> und Denkmalpflege und Forschung in Westfalen als Propylaeum-eBooks zur Verfügung gestellt werden können.</p>
			</div>

			<div class="col-lg-3">
				<div id="infoBoxRechts">
						<p>{{=IMG(_src=URL('static','images/partner/lwlaw_logo.png'),_width='145px')}}</p>
					   
						<p><b>Kontakt</b><br>
						LWL-Archäologie für Westfalen<br />
						An den Speichern 7<br />
						48157 Münster<br /><br />

						Tel.: +49 251 591-8801<br />
						E-Mail: lwl-archaeologie@lwl.org<br />
						Inernet: <a href="https://www.lwl-archaeologie.de/de/" title="Link zur Homepage">www.lwl-archaeologie.de</a></p>
				</div>                
			</div>		
			 
		{{elif session.forced_language =='en': }}
			<div class="col-lg-9">                
					<p>More information coming soon</p>  
			</div>
			
			<div class="col-lg-3">
				<div id="infoBoxRechts">
						<p>{{=IMG(_src=URL('static','images/partner/lwlaw_logo.png'),_width='145px')}}</p>
							   
						<p><b>Contact</b><br>
						LWL-Archäologie für Westfalen<br />
						An den Speichern 7<br />
						48157 Münster<br /><br />

						Tel.: +49 251 591-8801<br />
						E-Mail: lwl-archaeologie@lwl.org<br />
						Inernet: <a href="https://www.lwl-archaeologie.de/de/" title="Link zur Homepage">www.lwl-archaeologie.de</a></p>
                     </div>                
			</div>
	  
		{{pass}}

</div>

 
